<div class="row">
  <div class="col-md-12">
    <!--<mat-form-field class="select-width">
    <mat-select matInput placeholder="Select PAO" [(ngModel)]="selectedAuditId" [ngModelOptions]="{standalone: true}" (selectionChange)="getAuditDetails()">
      <mat-option *ngFor="let audit of auditList" [value]="audit.auditId">{{audit.name}}</mat-option>
    </mat-select>
  </mat-form-field>-->
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">{{selectedAudit.name}}</strong>
      </div>
     
        <mat-card *ngIf="selectedAuditId" class="mat-card-margin">
 

          <!--<h2><u>{{selectedAudit.name}}</u></h2>-->
          <b>Tenure of Inspection: ct</b> {{selectedAudit.auditFromDate | date: 'dd/MM/yyyy'}} to {{selectedAudit.auditToDate | date: 'dd/MM/yyyy'}} <br />
          <b>Intimation Date: </b> {{selectedAudit.auditIntimationDate | date: 'dd/MM/yyyy'}} <br />
          <b>Status: </b> {{selectedAudit.status}} <br />
          <div class="row team-background-color">
            <div class="col-md-6">
              <b>Auditor Team: </b>
              <div *ngFor="let emp of auditTeam"><label *ngIf="emp.roleId == 7 || emp.roleId == 8">{{emp.empName}} ({{emp.designationName}})</label> <br /> </div>
            </div>
            <div class="col-md-6">
              <b>Auditee Team: </b>
              <div *ngFor="let emp of auditTeam"><label *ngIf="emp.roleId == 7 || emp.roleId == 8">{{emp.empName}} ({{emp.designationName}})</label> <br /> </div>
            </div>
          </div>

        </mat-card>
       
      </div>
      <div class="card left-brd-pink">
        <div class="card-header pink">
          <strong class="card-title">Task List</strong>
        </div>
        <table class="mat-elevation-z8 even-odd-color" border="1" width="100%" *ngIf="selectedAuditId">
          <thead>
            <tr class="row-height">
              <th>
                Task
              </th>
              <th>
                Date
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="row-height">
              <td>
                Entry Conference
              </td>
              <td>
                <b *ngIf="selectedAudit.entryConferenceDate">{{selectedAudit.entryConferenceDate | date: 'dd/MM/yyyy'}}</b>
                <b *ngIf="!selectedAudit.entryConferenceDate">-</b>
              </td>
              <td>
                <a class="material-icons i-info" matTooltip="info" [routerLink]="['../auditee_entry-conference']">info</a>
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Exit Conference
              </td>
              <td>
                <b *ngIf="selectedAudit.exitConferenceDate">{{selectedAudit.exitConferenceDate | date: 'dd/MM/yyyy'}}</b>
                <b *ngIf="!selectedAudit.exitConferenceDate">-</b>
              </td>
              <td>
                <a class="material-icons i-info" matTooltip="info" [routerLink]="['../exit-conference']">info</a>
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Para Observations Details
              </td>
              <td>
                <b *ngIf="selectedAudit.paraCreatedOnDate">{{selectedAudit.paraCreatedOnDate | date: 'dd/MM/yyyy'}}</b>
                <b *ngIf="!selectedAudit.paraCreatedOnDate">-</b>
              </td>
              <td>
                <a class="material-icons i-info" matTooltip="info" [routerLink]="['../audit-para-list']">info</a>
              </td>
            </tr>
            <!--<tr class="row-height" *ngIf="roleId == 8">
          <td colspan="3">
            <button class="btn btn-success" *ngIf="selectedAudit.entryConferenceDate && selectedAudit.exitConferenceDate && selectedAudit.paraCreatedOnDate" (click)="forwardToAuditHead(25)">Forward to Auditee Head for Verification</button>
          </td>
        </tr>-->

          </tbody>
        </table>
      </div>
      <div class="card left-brd-pink">
        <div class="card-header pink">
          <strong class="card-title">Para Settlement Letter</strong>
        </div>
        <mat-card *ngIf="selectedAuditId">
          <div class="row">
            <div class="col-md-4">
              <b class="pull-right"> Para Settlement Letter </b>
            </div>
            <div class="col-md-5">
              <b *ngIf="selectedAudit.paraCreatedOnDate" class="pull-right">{{selectedAudit.auditParaSettlementLetterDate | date: 'dd/MM/yyyy'}}</b>
              <b *ngIf="!selectedAudit.paraCreatedOnDate" class="pull-right">-</b>
            </div>
            <div class="col-md-2">
              <a class="material-icons i-info pull-right" matTooltip="info" [routerLink]="['../para-settlement-letter']">info</a>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
