<div class="row pending-audit">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-body" style="text-align: center;">
        <mat-form-field class="select-width">
          <mat-select matInput placeholder="Select PAO" [(ngModel)]="selectedAuditId" [ngModelOptions]="{standalone: true}" (selectionChange)="getAuditDetails()">
            <mat-option *ngFor="let audit of auditList" [value]="audit.auditId">{{audit.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="selectedAuditId">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">{{selectedAudit.name}}</strong>
      </div>
      <div class="card-body card-block selected-pao-list">
        <mat-card class="mat-card-margin">
          <div class="row">
            <div class="col-md-2">
              <b>Tenure of Inspection:</b>
            </div>
            <div class="col-md-10">
              <span>{{selectedAudit.auditFromDate | date: 'dd/MM/yyyy'}} to {{selectedAudit.auditToDate | date: 'dd/MM/yyyy'}} </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <b>Intimation Date: </b>
            </div>
            <div class="col-md-10">
              <span>{{selectedAudit.auditIntimationDate | date: 'dd/MM/yyyy'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <b>Status: </b>
            </div>
            <div class="col-md-10">
              <span>{{selectedAudit.status}} </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <b>Auditor Team: </b>
            </div>
            <div class="col-md-10">
              <span><div *ngFor="let emp of auditTeam"><i *ngIf="emp.roleId == 5 || emp.roleId == 6">{{emp.empName}} ({{emp.designationName}})</i> </div> </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <b>Auditee Team: </b>
            </div>
            <div class="col-md-10">
              <span><div *ngFor="let emp of auditTeam"><i *ngIf="emp.roleId == 7 || emp.roleId == 8">{{emp.empName}} ({{emp.designationName}})</i> </div> </span>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="selectedAuditId">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Audit Observations</strong>
      </div>
      <div class="card-body card-block">
        <table class="mat-elevation-z8 even-odd-color" border="1">
          <thead>
            <tr class="row-height">
              <th>
                Task
              </th>
              <th>
                Date
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="row-height">
              <td>
                Entry Conference
              </td>
              <td>
                <b *ngIf="selectedAudit.entryConferenceDate">{{selectedAudit.entryConferenceDate | date: 'dd/MM/yyyy'}}</b>
                <b *ngIf="!selectedAudit.entryConferenceDate">-</b>
              </td>
              <td>
                <a class="material-icons i-edit" matTooltip="Edit" [routerLink]="['../entry-conference']">edit</a>
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Exit Conference
              </td>
              <td>
                <b *ngIf="selectedAudit.exitConferenceDate">{{selectedAudit.exitConferenceDate | date: 'dd/MM/yyyy'}}</b>
                <b *ngIf="!selectedAudit.exitConferenceDate">-</b>
              </td>
              <td>
                <a class="material-icons i-edit" matTooltip="Edit" [routerLink]="['../exit-conference']">edit</a>
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Para Observations Details
              </td>
              <td>
                <b *ngIf="selectedAudit.paraCreatedOnDate">{{selectedAudit.paraCreatedOnDate | date: 'dd/MM/yyyy'}}</b>
                <b *ngIf="!selectedAudit.paraCreatedOnDate">-</b>
              </td>
              <td>
                <a class="material-icons i-edit" matTooltip="Edit" [routerLink]="['../audit-para-list/all']">edit</a>
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Para Settlement Letter
              </td>
              <td>
                <b *ngIf="selectedAudit.auditParaSettlementLetterDate">{{selectedAudit.auditParaSettlementLetterDate | date: 'dd/MM/yyyy'}}</b>
                <b *ngIf="!selectedAudit.auditParaSettlementLetterDate">-</b>
              </td>
              <td>
                <a class="material-icons i-edit" matTooltip="Edit" [routerLink]="['../para-settlement-letter']">edit</a>
              </td>
            </tr>
            <!--<tr class="row-height" *ngIf="roleId == 6">
              <td colspan="3">
                <button class="btn btn-info" [disabled]="!(selectedAudit.entryConferenceDate && selectedAudit.exitConferenceDate && selectedAudit.paraCreatedOnDate && (selectedAudit.auditStatusId == 12 || selectedAudit.auditStatusId == 22))" (click)="forwardToAuditHead(19)">Forward to Audit Head for Verification</button>
              </td>
            </tr>
            <tr class="row-height" *ngIf="roleId == 5">
              <td colspan="3">
                <button class="btn btn-info" [disabled]="!(selectedAudit.entryConferenceDate && selectedAudit.exitConferenceDate && selectedAudit.paraCreatedOnDate && selectedAudit.auditStatusId == 19)" (click)="forwardToAuditHead(20)">Forward to Audit Supervisor for Verification</button>
              </td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
