// add a pop class to the html file first
.pop {
  height: 50px;
  width: 40%;
  margin-left: 20px;
  border: 1px solid saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Animate items as they’re being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  border: 1px solid #ddd;
}
/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
