<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="wid-100">
              <mat-select matInput placeholder="Select Auditee" [(ngModel)]="selectedAuditId" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let audit of auditsList" [value]="audit.auditId">{{audit.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-1">
            <button class="btn btn-info mt-3" (click)="getExitConferenceDetails()">Go</button>
          </div>
          <div class="col-md-5 mt-3">
            <button class="btn btn-secondary pull-right" *ngIf="exitConferenceDetails && exitConferenceDetails.statusId == 4" [disabled]="!exitConferenceDetails" (click)="RejectPopUp = true">Reject and Forward to Audit Entry User</button>
            <button class="btn btn-info pull-right btn-width" *ngIf="exitConferenceDetails && exitConferenceDetails.statusId == 4" [disabled]="!exitConferenceDetails" (click)="updateStatus(5)">Approve</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card left-brd-pink" *ngIf="exitConferenceDetails">
  <div class="card-header pink">
    <strong class="card-title">Exit Conference Details</strong>
  </div>
  <div class="card-body card-block selected-pao-list">
    <mat-card class="mat-card-margin">
      <div class="row">
        <div class="col-md-4">
          <b>Exit Conference Date:</b>
        </div>
        <div class="col-md-8">
          <span>{{exitConferenceDetails.conferenceDate | date: 'dd/MM/yyyy'}} </span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <b>Auditor Team:</b>
        </div>
        <div class="col-md-8">
          <span><div *ngFor="let emp of exitConferenceDetails.participants"><label *ngIf="emp.roleId == 5 || emp.roleId == 6">{{emp.empName}} ({{emp.designationName}})</label> </div></span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <b>Auditee Team:</b>
        </div>
        <div class="col-md-8">
          <span> <div *ngFor="let emp of exitConferenceDetails.participants"><label *ngIf="emp.roleId == 7 || emp.roleId == 8">{{emp.empName}} ({{emp.designationName}})</label> </div></span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <b>Topic of Discussion:</b>
        </div>
        <div class="col-md-8">
          <div style="word-wrap:break-word" innerHTML="{{exitConferenceDetails.agenda}}"></div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <b>Decision:</b>
        </div>
        <div class="col-md-8">
          <div style="word-wrap:break-word" innerHTML="{{exitConferenceDetails.decision}}"></div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<app-dialog [(visible)]="RejectPopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Reject this Exit Conference?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput placeholder="Rejection Remark" [(ngModel)]="rejectionRemark" maxlength="200"></textarea>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateStatus(6)">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="RejectPopUp = false">Cancel</button>
    </div>
  </div>
</app-dialog>
