<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header">
        <form class="left-margin-finYear">
            <div class="row">
              <div class="col-md-2">
                <mat-form-field class="wid-50">
                  <mat-select matInput placeholder="Select Financial Year" [(ngModel)]="selectedFinYearId" [ngModelOptions]="{standalone: true}" (selectionChange)="getQuartersList()">
                    <mat-option *ngFor="let finYear of financialYears" [value]="finYear.financialYearId">{{finYear.financialYear}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="wid-100">
                  <mat-select matInput placeholder="Select Quarter" [(ngModel)]="selectedQuarter" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let quar of quarters" [value]="quar.Id">{{quar.Desc}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-1">
                <button class="btn btn-info" (click)="getScheduledAuditsForVerification()">Go</button>
              </div>
              <div class="col-md-5">
                <button class="btn btn-info pull-right" (click)="showForwardToSupervisorPopup = true;" [disabled]="events.length == 0">Forward to Supervisor</button>
                <button class="btn btn-secondary pull-right btn-width" (click)="RejectEventPopup = true" [disabled]="events.length == 0">Reject</button>
                <button class="btn btn-info pull-right btn-width" (click)="ApproveEventPopup = true" [disabled]="events.length == 0">Approve</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-6">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Schedule List</strong>
      </div>
      <div class="card-body card-block">
        <table class="mat-elevation-z8 even-odd-color" border="1" width="100%" *ngIf="events.length > 0">
          <thead>
            <tr class="row-height">
              <th>
                <mat-checkbox (change)="selectAll($event)" [(ngModel)]="selectAllCheckBox"></mat-checkbox>
              </th>
              <th>
                PAO Code
              </th>
              <th>
                PAO Name
              </th>
              <th>
                Controller
              </th>
              <th>
                Schedule From Date
              </th>
              <th>
                Schedule To Date
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pao of events" class="row-height" (click)="selectSchedule(pao)" [ngClass]="{'highlight' : checkIfSelectedPAOExists(pao)}">
              <td>
                <mat-checkbox [checked]="pao.meta.selected" [(ngModel)]="pao.meta.selected"></mat-checkbox>
              </td>
              <td>
                {{pao.meta.paoCode}}
              </td>
              <td>
                {{pao.meta.paoName}}
              </td>
              <td>
                {{pao.meta.controllerCode}}
              </td>
              <td>
                {{pao.start | date: 'MMM dd, yyyy'}}
              </td>
              <td>
                {{pao.end | date: 'MMM dd, yyyy'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Calendar</strong>
      </div>
      <div class="card-body card-block">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="btn-group">
              <div class="btn btn-outline-secondary"
                   mwlCalendarToday
                   [(viewDate)]="viewDate">
                Today
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
          <div class="col-md-4">
            <div class="btn-group">
              <div class="btn btn-info"
                   mwlCalendarPreviousView
                   [view]="view"
                   [(viewDate)]="viewDate"
                   (viewDateChange)="closeOpenMonthViewDay()">
                <i class="fa fa-chevron-left" title="Previous"></i>
              </div>
              <div class="btn btn-info"
                   mwlCalendarNextView
                   [view]="view"
                   [(viewDate)]="viewDate"
                   (viewDateChange)="closeOpenMonthViewDay()">
                <i class="fa fa-chevron-right" title="Next"></i>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
                                   [viewDate]="viewDate"
                                   [events]="events"
                                   [refresh]="refresh"
                                   [activeDayIsOpen]="activeDayIsOpen"
                                   (dayClicked)="dayClicked($event.day)"
                                   (beforeViewRender)="beforeMonthViewRender($event)">
          </mwl-calendar-month-view>
        </div>
      </div>
    </div>

  </div>
</div>

<app-dialog [(visible)]="ApproveEventPopup">
  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Do you want to Approve this Schedule?</h4>
    <!-- Large input -->
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info text-center btn-sm" (click)="saveStatus(5)">Yes</button>
        <button type="button" class="btn btn-secondary text-center btn-sm" (click)="ApproveEventPopup = false">No</button>
      </div>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="RejectEventPopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Reject this Schedule?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput [(ngModel)]="rejectionRemark" rows="2" placeholder="Remarks"></textarea>
      <mat-error>Remarks Required !</mat-error>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="saveStatus(6)">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="RejectEventPopup = false">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="showForwardToSupervisorPopup">
  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Please Select a Supervisor </h4>
    <!-- Large input -->
    <div class="row">
      <div class="col-md-8">
        <div class="md-form form-lg">
          <mat-form-field class="wid-100" style="margin-top:-100px">
            <mat-select matNativeControl placeholder="Select Supervisor" [(ngModel)]="selectedSupervisorId">
              <mat-option *ngFor="let supervisor of supervisorsList" [value]="supervisor.roleUserMapID">{{supervisor.empName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info text-center btn-sm" (click)="forwardToSupervisor(17)">Send</button>
        <button type="button" class="btn btn-secondary text-center btn-sm" (click)="showForwardToSupervisorPopup = false">Cancel</button>
      </div>
    </div>
  </div>
</app-dialog>
