<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header">
        <mat-form-field class="wid-50">
          <mat-select matInput placeholder="Select Financial Year" [(ngModel)]="selectedFinYearId" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let finYear of financialYears" [value]="finYear.financialYearId">{{finYear.financialYear}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn btn-info" (click)="getAuditProgramme()">Go</button>
        <button class="btn btn-info pull-right btn-width mt-3" [disabled]="isbtnData" (click)="printReport();">Print</button>
      </div>
    </div>
  </div>
</div>

<div class="card left-brd-pink">
  <div class="card-header pink">
    <strong class="card-title">Audit Programme</strong>
  </div>
  <div class="card-body card-block">
    <mat-form-field>
      <input matInput (keyup)="applyFilter()" [(ngModel)]="searchTerm" placeholder="Search" blank-space-directive>
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color" *ngIf="auditProgrammes.length > 0">

      <ng-container matColumnDef="NameOfUnit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name of Unit</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="PeriodOfUnit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Period of Audit</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.auditFromDate | date: 'dd/MM/yyyy'}} to {{element.auditToDate | date: 'dd/MM/yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="AuditTeam">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Audit Team</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <table>
            <thead>
              <tr *ngFor="let emp of element.empDetails">
                {{emp.empName}} , {{emp.designationName}}
              </tr>
            </thead>
          </table>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator #paginator [ngStyle]="{display: auditProgrammes.length > 0 ? 'block' : 'none'}" [length]="auditProgrammes.length" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    <mat-toolbar color="warning" class="record-not-found" *ngIf="auditProgrammes.length == 0">Record not found</mat-toolbar>
  </div>
</div>




