<div class="col-md-12 col-lg-12">
  <!--<button class="btn btn-success pull-right" (click)="createRoleForm();createRolePopUp = !createRolePopUp">+ Create Role</button>-->
  <mat-card class="margin-bottom">
    <form [formGroup]="roleForm" (ngSubmit)="updateRole()">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="wid-100">
            <input matInput formControlName="roleName" placeholder="Enter Role Name" />
            <mat-error>Role Name Required !</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="wid-100">
            <input matInput formControlName="roleDescription" placeholder="Enter Role Description" />
            <mat-error>Role Description Required !</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group text-center col-md-12">
        <button type="submit" class="btn btn-info">Add</button>
        &nbsp;
        <button type="button" class="btn btn-secondary" (click)="cancelForm()">Cancel</button>
      </div>
    </form>
  </mat-card>

  <mat-card>
    <!--<mat-form-field>
      <input matInput (keyup)="applyFilter()" [(ngModel)]="searchTerm" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>-->

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

      <ng-container matColumnDef="RoleName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Role Name </mat-header-cell>
        <mat-cell *matCellDef="let element ; let i = index;">{{ element.roleName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="RoleDescription">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Role Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.roleDescription }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="CreatedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Creation Date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd-MM-yyyy hh:mm a'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="DeactivationReason">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Deactivation Reason</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.reason}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="DeactivationDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Deactivation Date</mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.deactivationDate | date: 'dd-MM-yyyy hh:mm a'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a class="material-icons i-edit" matTooltip="Edit" (click)="editRole(element)">edit</a>
          <mat-slide-toggle [checked]="element.isActive" (change)="toggleRoleActivation($event, element)" color="primary"></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </mat-card>
</div>

<!--<app-dialog [(visible)]="createRolePopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Create New Role</h3>
    <form [formGroup]="roleForm" (ngSubmit)="updateRole()">
      <mat-form-field class="wid-100">
        <input matInput formControlName="roleName" placeholder="Enter Role Name" />
        <mat-error>Role Name Required !</mat-error>
      </mat-form-field>
      <mat-form-field class="wid-100">
        <input matInput formControlName="roleDescription" placeholder="Enter Role Description" />
        <mat-error>Role Description Required !</mat-error>
      </mat-form-field>

      <div class="form-group text-center col-md-12">
        <button type="submit" class="btn btn-success">Save</button>
        &nbsp;
        <button type="button" class="btn btn-warning" (click)="cancelForm()">Cancel</button>
      </div>
    </form>
  </div>
</app-dialog>-->

<app-dialog [(visible)]="deactivateRolePopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Deactivate this role?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput [(ngModel)]="reason" rows="2" placeholder="Deactivation Reason"></textarea>
      <mat-error>Reason Required !</mat-error>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="saveDeactivateRole()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="deactivateRolePopUp = !deactivateRolePopUp;reason = '';getRoles()">Cancel</button>
    </div>
  </div>
</app-dialog>
