<div class="col-md-12 col-lg-12">
  <form (ngSubmit)="menuassign.valid && SaveMenu();" #menuassign="ngForm" novalidate>

    <div class="panel panel-body panel-default">
      <h3 class="card-title text-center"><u><b>Menu Creation</b></u></h3>
      <!-- <div class="col-sm-12 col-md-12 col-lg-12 select-type">

       <div class="col-sm-6 col-md-4 col-lg-4 pading-0">
      <div classclass="wid-100">
        <label class="label-font">Select Type</label>
      </div>
    </div>
   <div class="col-sm-6 col-md-6 col-lg-6">
      <div classclass="wid-100">
        <mat-radio-group name="selType" [(ngModel)]="selrdType">
          <mat-radio-button value="Root" (click)="HideandShowradio('Root')">Root Menu</mat-radio-button>
          <mat-radio-button value="SubMenu" (click)="HideandShowradio('SubMenu')">Sub Menu</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

  </div>-->
      <input type="text" name="someData" [(ngModel)]="hdnMenuId" style="display: none;" />
      <div class="form-group col-md-12">
        <div class="col-md-3">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select Menu" [(ngModel)]="mstMenu.parentMenu" name="parentMenu" #parentMenu="ngModel">

              <mat-option>
                <ngx-mat-select-search [formControl]="MenuFilterCtrl" [placeholderLabel]="'Find Menu...'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let item of filteredMenu |async " [value]="item.menuID" [disabled]="Ishowhide">
                {{item.menuDescriptionName}}
              </mat-option>
              <mat-option [value]="0">
                Select
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Menu Name" required [(ngModel)]="mstMenu.mainMenuName" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" autocomplete="off" name="mainMenuName" #mainMenuName="ngModel"><!--required-->
            <mat-error>
              <span *ngIf="mainMenuName.invalid">Numric and  Operator Not Allowed</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Menu Url (abc/abc/abc)..." [(ngModel)]="mstMenu.menuURL" pattern="^[A-Za-z]+[/][A-Za-z]+[/][A-Za-z/]+$" autocomplete="off" name="menuURL" required #menuURL="ngModel"><!--required  [disabled]="Ishowhide"-->
            <mat-error>
              <span *ngIf="menuURL.invalid">Enter Currect Formate Url (abc/abc/abc)</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-12 col-lg-4">
          <mat-list-item class="primary-imenu-item" role="listitem">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Role"
                          name="RoleSIDS"
                          class="filter-select"
                          [(ngModel)]="mstMenu.RoleSIDS"
                          [compareWith]="equalsRole"
                          required
                          multiple
                          #RoleSIDS="ngModel">

                <mat-option *ngFor="let role of ArrRoles" [value]="role" [disabled]="Ishowhide">{{role.roleName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
        </div>

      </div>
      <div class="form-group col-md-12">
        </div>
        <div class="form-group text-center col-md-12">
          <button type="submit" class="btn btn-info">save</button>
          &nbsp;
          <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
        </div>
      </div>
</form>
  <!--<button type="button" class="btn btn-labeled btn-success margin-0 float-r" (click)="showMenu = !showMenu">
    <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Create Menu
  </button>-->
  <mat-card>
    <mat-form-field>
      <input matInput (keyup)="applyFilter()" [(ngModel)]="searchTerm" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>

    <mat-table [dataSource]="ArrMenudataSource" matSort class="mat-elevation-z8 even-odd-color">
      <ng-container matColumnDef="menuDescriptionName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Menu Name </mat-header-cell>
        <mat-cell *matCellDef="let element ; let i = index;">{{ element.menuDescriptionName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="parentMenu">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Parent Menu Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.parentMenu }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="menuURL">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Menu URL</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.menuURL}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a class="material-icons i-edit" matTooltip="Edit">edit</a> <!--(click)="editRole(element)"-->
          <mat-slide-toggle [checked]="element.isActive" color="primary"></mat-slide-toggle><!--(change)="toggleRoleActivation($event, element)"-->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </mat-card>
</div>




<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img height="70px" width="70px" src="~/../assets/Loder12.gif">
</div>



