<aside id="left-panel" class="left-panel">
  <nav class="navbar navbar-expand-sm navbar-default" style="width:100%">
    <div id="main-menu" class="main-menu collapse navbar-collapse" style="width:100%">
      <ul class="nav navbar-nav" style="width:100%">
        <app-nav-menu *ngFor="let item of navItems" [item]="item" [ngClass]="{'menu-item-has-children dropdown': item && item.children.length > 0, 'menu-item-parent': item && item.children.length == 0}"></app-nav-menu>
      </ul>
    </div>
  </nav>
</aside>
<div id="right-panel" class="right-panel">
  <app-header></app-header>

  <!--<button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon class="material-icons md-24">menu</mat-icon>
  </button>
  <ul class="breadcrumb">
    <li>
      <a href="/dashboard/home" (click)="resetbreadcrumbsDtls()">Home </a> <span> {{breadcrumbsDtls.displayName}} </span>
    </li>
  </ul>-->
  <!-- breadcrumb -->
  <!--<div class="col">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"
          *ngFor="let item of breadcrumbList; let i = index"
          [class.active]="i===breadcrumbList.length-1">
        <a [routerLink]="item.route" *ngIf="i!==breadcrumbList.length-1">
          {{ item.displayName }}
        </a>
        <span *ngIf="i===breadcrumbList.length-1">{{ item.displayName }}</span>
      </li>
    </ol>
  </div>-->
  <div class="breadcrumbs" *ngIf="screenHeading != 'Home'">
    <div class="breadcrumbs-inner left-brd-pink">
      <div class="row m-0">
        <div class="col-sm-4">
          <div class="page-header float-left">
            <div class="page-title">
              <h1 style="text-transform:capitalize">{{screenHeading}}</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="page-header float-right">
            <div class="page-title">
              <ol class="breadcrumb text-right">
                <li *ngFor="let bread of breadcrumbs; let i = index" [ngClass]="{'active': i+1 == breadcrumbs.length}"><a (click)="navigateFromBreadcrumb(bread)">{{bread.label}}</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="animated fadeIn">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /.content -->
  <div class="clearfix"></div>
  <!-- Footer -->
  <footer class="site-footer">
    <div class="footer-inner">
      <div class="row">
        <div class="col-sm-6">
          Copyright &copy; 2018 NIC Admin
        </div>
        <div class="col-sm-6 text-right">
          Designed by <a>NIC</a>
        </div>
      </div>
    </div>
  </footer>
</div>





