<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <label class="mt-1"><i class="fas fa-info-circle mr-2" style="color: #bf5f82;"></i><i>Drag and drop to Assign Audit Team</i></label>
        <button class="btn btn-info pull-right" [disabled]="disableForwardToSupervisor" (click)="showForwardToSupervisorPopup = true;">Forward to Supervisor</button>
        <button class="btn btn-info pull-right btn-width" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="wid-100">
              <mat-select matInput placeholder="Select Auditee" [(ngModel)]="selectedAuditId" [ngModelOptions]="{standalone: true}" (selectionChange)="getAssignAuditTeam()">
                <mat-option *ngFor="let audit of auditsList" [value]="audit.auditId">{{audit.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-8">
            <span *ngIf="selectedAudit" style="margin-top:20px;float:right">
              <b>Scheduled Date : </b> <label> {{selectedAudit.auditFromDate | date: 'dd MMM,yyyy'}} - {{selectedAudit.auditToDate | date: 'dd MMM,yyyy'}}</label> &nbsp; &nbsp;
              <b>Quarter: </b> <label> {{selectedAudit.quarter}}</label>&nbsp; &nbsp;
              <b>Status: </b> <label> {{selectedAudit.auditStatus}}</label>&nbsp; &nbsp;
              <button *ngIf="selectedAudit.rejectionRemark" class="btn btn-info" (click)="showRemarkPopup = true">Show Remark</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" cdkDropListGroup>
  <div class="col-md-4">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Employee List</strong>
      </div>
      <div class="card-body card-block">
        <mat-form-field class="wid-50">
          <input matInput placeholder="Search..." [(ngModel)]="searchTerm" (keyup)="filterEmployees()" blank-space-directive>
        </mat-form-field>
        <div cdkDropList [cdkDropListData]="filteredEmployees"
             [cdkDropListConnectedTo]="[secondList, thirdList]" #firstList="cdkDropList" cdkDropListSortingDisabled
             (cdkDropListDropped)="drop($event)">

          <table class="mat-elevation-z8 even-odd-color mat-table" border="1">
            <thead>
              <tr class="row-height">
                <th>Name</th>
                <th>Designation</th>
                <th>Mobile</th>
              </tr>
            </thead>
            <tbody style="width: 30%">
              <tr *ngFor="let emp of filteredEmployees" class="pop row-height" (cdkDragStarted)="onDrag('all', emp)" cdkDrag>

                <td>
                  {{emp.empName}}
                </td>
                <td>
                  {{emp.designation}}
                </td>
                <td>
                  {{emp.mobileNo}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title"> Assigned as Audit Head</strong>
      </div>
      <div class="card-body card-block">
        <div cdkDropList [cdkDropListData]="auditHeadEmployees"
             [cdkDropListConnectedTo]="[firstList, thirdList]" #secondList="cdkDropList" cdkDropListSortingDisabled
             (cdkDropListDropped)="dropAuditHead($event)">

          <table class="mat-elevation-z8 even-odd-color mat-table" border="1">
            <thead>
              <tr class="row-height">
                <th>Name</th>
                <th>Designation</th>
                <th>Mobile</th>
              </tr>
            </thead>
            <tbody style="width: 30%">
              <tr *ngFor="let emp of auditHeadEmployees" class="pop row-height" (cdkDragStarted)="onDrag('head', emp)" cdkDrag>
                <td>
                  {{emp.empName}}
                </td>
                <td>
                  {{emp.designation}}
                </td>
                <td>
                  {{emp.mobileNo}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Assigned as Audit Entry User</strong>
      </div>
      <div class="card-body card-block">
        <div cdkDropList [cdkDropListData]="auditDHEmployees"
             [cdkDropListConnectedTo]="[firstList, secondList]" #thirdList="cdkDropList" cdkDropListSortingDisabled
             (cdkDropListDropped)="dropAuditDH($event)">
          <table class="mat-elevation-z8 even-odd-color mat-table" border="1">
            <thead>
              <tr class="row-height">
                <th>Name</th>
                <th>Designation</th>
                <th>Mobile</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of auditDHEmployees" class="pop row-height" (cdkDragStarted)="onDrag('dh', emp)" cdkDrag>
                <td>
                  {{emp.empName}}
                </td>
                <td>
                  {{emp.designation}}
                </td>
                <td>
                  {{emp.mobileNo}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-dialog [(visible)]="showRemarkPopup">
  <div class="card-content panel panel-body panel-default" *ngIf="selectedAudit">
    <h3 class="card-title text-center">{{selectedAudit.rejectionRemark}}</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="showRemarkPopup = false">OK</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="showForwardToSupervisorPopup">
  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Please Select a Supervisor </h4>
    <!-- Large input -->
    <div class="row">
      <div class="col-md-8">
        <div class="md-form form-lg">
          <mat-form-field class="wid-100" style="margin-top:-100px">
            <mat-select matNativeControl placeholder="Select Supervisor" [(ngModel)]="selectedSupervisorId">
              <mat-option *ngFor="let supervisor of supervisorsList" [value]="supervisor.roleUserMapID">{{supervisor.empName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info text-center btn-sm" (click)="forwardToSupervisor(18)">Send</button>
        <button type="button" class="btn btn-secondary text-center btn-sm" (click)="showForwardToSupervisorPopup = false">Cancel</button>
      </div>
    </div>
  </div>
</app-dialog>




