<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header">
          <button class="btn btn-secondary pull-right mt-3" (click)="RejectPopUp = true" *ngIf="paraSettlementLetterDetails && paraSettlementLetterDetails.statusId == 3">Reject and Send back to DH</button>
          <button class="btn btn-info pull-right btn-width mt-3" (click)="forward(4)" *ngIf="paraSettlementLetterDetails && paraSettlementLetterDetails.statusId == 3">Approve</button>
          <mat-form-field class="select-width">
            <mat-select matInput placeholder="Select PAO" [(ngModel)]="selectedAuditId" [ngModelOptions]="{standalone: true}" (selectionChange)="getAuditDetails()">
              <mat-option *ngFor="let audit of auditList" [value]="audit.auditId">{{audit.name}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div *ngIf="paraSettlementLetterDetails">
  <div class="card left-brd-pink" *ngIf="paraSettlementLetterDetails.auditParaSettlementLetterId > 0">
    <div class="card-header pink">
      <strong class="card-title">Para Settlement Letter</strong>
    </div>
    <div class="card-body card-block">
      <div class="row">
        <div class="col-md-9" style="word-wrap:break-word">
          <b>No. {{paraSettlementLetterDetails.letterNumber}}</b>
        </div>
        <div class="col-md-3">
          <b>Dated: {{paraSettlementLetterDetails.letterDate | date: 'dd/MM/yyyy'}}</b>
        </div>
      </div><br />
      <div class="row">
        <div class="col-md-3">
          <b>To,</b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4" style="word-wrap:break-word">
          <div innerHTML="{{paraSettlementLetterDetails.letterTo}}"></div>
          <b></b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"><b><u>Subject</u>: </b></div>
        <div class="col-md-11" style="word-wrap:break-word"><div innerHTML="{{paraSettlementLetterDetails.letterSubject}}"></div></div>
      </div>
      <div class="row">
        <div class="col-md-12" style="word-wrap:break-word">
          <div innerHTML="{{paraSettlementLetterDetails.letterContent}}"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4" style="word-wrap:break-word">
          <b>Yours Faithfully,</b><br />
          <div innerHTML="{{paraSettlementLetterDetails.letterFrom}}"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><b><u>Copy To:-</u></b></div><br />
        <div class="col-md-10" style="word-wrap:break-word"><div innerHTML="{{paraSettlementLetterDetails.letterCopyTo}}"></div></div>
      </div>
    </div>
  </div>
</div>
<app-dialog [(visible)]="RejectPopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Reject this Para Settlement Letter?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput placeholder="Rejection Remark" [(ngModel)]="rejectionRemark" maxlength="200"></textarea>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="forward(5)">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-warning" (click)="RejectPopUp = false">Cancel</button>
    </div>
  </div>
</app-dialog>
