<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <form class="form-horizontal form-bordered striped-rows" (ngSubmit)="frmintimationDetails.valid && GetAllPAoAuditRecord();" #frmintimationDetails="ngForm" novalidate>
          <div class="col-md-12 row">
            <div class="col-md-6">
              <mat-form-field class="wid-100">
                <mat-select placeholder="Select Financial Year" [(ngModel)]="fYearid" name="fYearid" #selectFyear="ngModel" required (selectionChange)="getAllAudit($event.value)">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="YearFilterCtrl" [placeholderLabel]="'Find Financial Year...'" [noEntriesFoundLabel]="'Financial Year is not found'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of filteredYear |async " [value]="item.financialYearId">
                    {{item.financialYear}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <span *ngIf="selectFyear.invalid">Select Financial Year</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-2">
              <button type="submit" class="btn btn-info">Go</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Send Intimation Mails List</strong>
      </div>
      <div class="card-body card-block">
        <mat-card>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchTerm" placeholder="Search" blank-space-directive>
            <i class="material-icons icon-right">search</i>
          </mat-form-field>

          <mat-table [dataSource]="Arrlist" matSort class="mat-elevation-z8 even-odd-color">
          

            <ng-container matColumnDef="paoName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>PAO Name</mat-header-cell>
              <mat-cell *matCellDef="let element ">{{ element.paoName }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="auditFromDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Audit From Date</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.auditFromDate|date: 'dd/MM/yyyy' }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="auditToDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Audit To Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.auditToDate|date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>
           
            <ng-container matColumnDef="intimationStatus">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Intimation Status </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-cell>{{element.intimationStatus}}</mat-cell>
                <!--<mat-cell *ngIf="element.intimationStatus;then ifcondition else elsecondition">{{element.intimationStatus}}</mat-cell>-->
                <!--<ng-template #ifcondition>
        send
      </ng-template>
      <ng-template #elsecondition>

      </ng-template>-->

              </mat-cell>

            </ng-container>

            <ng-container matColumnDef="view">
              <mat-header-cell *matHeaderCellDef>View Report</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a class="material-icons i-info" matTooltip="info" (click)="printReport(element.paoId);">info</a>   
               </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <!--<a class="material-icons i-email" matTooltip="mail" (click)="UpdateFillForm(element.paoName);">Send Mail</a>-->
                <button type="button" [disabled]="element.auditTeamStatus==0" class="btn btn-info" (click)="IntimateMails(element.paoId,element.email);">Send Intimation Mail</button>         
                <!--<mat-slide-toggle [checked]="element.isActive" (change)="ActiveDeactiveFillPopUp(element.riskCategoryID,element.isActive);ActivateCategory=!ActivateCategory" matTooltip="Activate/deactivate" color="primary"></mat-slide-toggle>-->
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>
          <!--<div [hidden]="notFound">
            <font color="red">Data Not Found...</font>
          </div>-->
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </mat-card>
      </div>
    </div>

  </div>
</div>

<app-dialog [(visible)]="ActivateCategory">
  <form (ngSubmit)="frmriskDetails.valid && SendMail();" #frmriskDetails="ngForm" novalidate>
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">
        Add Note in the Intimation Mail:
      </h3>
      <div class="form-group text-center col-md-12">
        <div class="form-group text-center col-md-6">
          <input type="checkbox" placeholder="Click for other email"  (click)="otherEmail(checkbxotheremail)"  />
          Click for other email
        </div>
        
      </div>
      <div class="form-group text-center col-md-12" *ngIf="otheremailstatus">
        <mat-form-field class="wid-100">
          <!--appearance="outline"-->
          <input matInput placeholder="Enter other email" required [(ngModel)]="requestmodel.otheremail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" autocomplete="off" name="otheremail" #otheremail="ngModel">

          <mat-error>
            <span *ngIf="otheremail.invalid">Please enter a valid email address.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group text-center col-md-12">
        <mat-form-field class="wid-100">
          <!--appearance="outline"-->
          <textarea matInput placeholder="Remarks" rows="2" spellcheck="false" required [(ngModel)]="requestmodel.remarks" #remarks="ngModel" autocomplete="off" name="remarks"></textarea><!--required  -->
          <mat-error>
            <span *ngIf="remarks.invalid">Special character are not allowed</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group text-center col-md-12">
        <button type="submit" class="btn btn-info" [disabled]="!frmriskDetails.valid">Send Mail</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="CancelPopUp();">Cancel</button>
      </div>
    </div>
  </form>
</app-dialog>
<!--<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img height="70px" width="70px" src="~/../assets/Loder12.gif">
</div>-->
