<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header">
        <div class="row">
          <div class="col-md-7">
            <mat-form-field class="wid-50">
              <mat-select matInput placeholder="Select Auditee" [(ngModel)]="selectedAuditId" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let audit of auditsList" [value]="audit.auditId">{{audit.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button class="btn btn-info" (click)="getAssignAuditTeam()">Go</button>
            <span *ngIf="selectedAudit" style="margin-left:100px">
              <b>Scheduled Date : </b> <label> {{selectedAudit.auditFromDate | date: 'dd MMM,yyyy'}} - {{selectedAudit.auditToDate | date: 'dd MMM,yyyy'}}</label> &nbsp; &nbsp;
              <b>Quarter: </b> <label> {{selectedAudit.quarter}}</label>
            </span>
          </div>
          <div class="col-md-5 mt-3">
            <button class="btn btn-info pull-right" (click)="showForwardToSupervisorPopup = true;" [disabled]="!selectedAudit">Forward to Supervisor</button>
            <button class="btn btn-secondary pull-right btn-width" [disabled]="!selectedAudit" (click)="RejectEventPopup = true">Reject</button>
            <button class="btn btn-info pull-right btn-width" [disabled]="!selectedAudit" (click)="approveEventPopup = true">Approve</button>
          </div>
        </div>

        <!--<label class="pull-right"><i class="material-icons">wb_incandescent</i>Drag and drop to make Audit Team</label>-->
      </div>
    </div>
  </div>
</div>

<div class="card left-brd-pink">
  <div class="card-header pink">
    <strong class="card-title">Audit Team List</strong>
  </div>
  <div class="card-body card-block">
    <table class="mat-elevation-z8 even-odd-color" border="1" width="100%">
      <thead>
        <tr class="row-height">
          <th>PAO Name</th>
          <th>Employee Name</th>
          <th>Designation</th>
          <th>Mobile</th>
          <th>Role</th>
          <th>Audit Date From</th>
          <th>Audit Date To</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody style="width: 30%">
        <tr *ngFor="let emp of empList" class="pop row-height">
          <td>
            {{emp.name}}
          </td>
          <td>
            {{emp.empName}}
          </td>
          <td>
            {{emp.designationName}}
          </td>
          <td>
            {{emp.phoneNo}}
          </td>
          <td>
            {{emp.roleName}}
          </td>
          <td>
            {{emp.auditFromDate | date: 'dd MMM,yyyy'}}
          </td>
          <td>
            {{emp.auditToDate | date: 'dd MMM,yyyy'}}
          </td>
          <td>
            {{emp.status}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<app-dialog [(visible)]="RejectEventPopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Reject this team?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput [(ngModel)]="rejectionRemark" rows="2" placeholder="Remarks"></textarea>
      <mat-error>Remarks Required !</mat-error>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateAuditTeamVerification(13)">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="RejectEventPopup = false; rejectionRemark = ''">Cancel</button>
    </div>
  </div>
</app-dialog>


<app-dialog [(visible)]="approveEventPopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Approve this team?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateAuditTeamVerification(12)">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="approveEventPopup = false">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="showForwardToSupervisorPopup">
  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Please Select a Supervisor </h4>
    <!-- Large input -->
    <div class="row">
      <div class="col-md-8">
        <div class="md-form form-lg">
          <mat-form-field class="wid-100" style="margin-top:-100px">
            <mat-select matNativeControl placeholder="Select Supervisor" [(ngModel)]="selectedSupervisorId">
              <mat-option *ngFor="let supervisor of supervisorsList" [value]="supervisor.roleUserMapID">{{supervisor.empName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info text-center btn-sm" (click)="forwardToSupervisor(18)">Send</button>
        <button type="button" class="btn btn-secondary text-center btn-sm" (click)="showForwardToSupervisorPopup = false">Cancel</button>
      </div>
    </div>
  </div>
</app-dialog>





