<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card left-brd-pink">
      <!--<button class="btn btn-info pull-right btn-fullwidth " [routerLink]="['../pending-auditee']">Back To Pending Auditee</button>-->
      <div class="card-header pink">
        <strong class="card-title">{{selectedAudit.name}}</strong>
      </div>
      <!--<h2><u>{{selectedAudit.name}}</u></h2>-->
      <mat-card>
        <mat-form-field>
          <input matInput (keyup)="applyFilter()" [(ngModel)]="searchTerm" placeholder="Search" blank-space-directive>
          <i class="material-icons icon-right">search</i>
        </mat-form-field>
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
          <!--*ngIf="totalCount > 0"-->

          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Para Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="riskCategoryName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Observation Type</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.riskCategoryName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="severity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Risk Level</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.severity}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a class="material-icons i-info" matTooltip="info" [routerLink]="['../audit-para-detail/' , element.paraId]">info</a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator #paginator [pageSize]="pageSize" [ngStyle]="{display: totalCount > 0 ? 'block' : 'none'}" [length]="totalCount" [pageSizeOptions]="[10, 20, 50]" (page)="getPaginationData($event)" showFirstLastButtons></mat-paginator>

        <mat-toolbar color="warning" class="record-not-found" *ngIf="totalCount == 0">Record not found</mat-toolbar>
      </mat-card>

    </div></div>
  </div>
