      <!-- Widgets  -->
<div *ngIf="IsShowSupervisor">
  <div class="row dashboard-cards mt-2">
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-pink">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-4">
              <a> <i class="pe-7s-users" style="cursor:pointer" matTooltip="Open Reoprt" (click)="TotalAuditorsOpenReport();"></i></a>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Auditors</div>
                <div class="stat-text text-center"><span class="count">{{totalAuditors}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-purple">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-2">
              <!--<i class="pe-7s-glasses"></i>-->
              <a> <i class="pe-7s-glasses" style="cursor:pointer" matTooltip="Open Reoprt" (click)="TotalAuditReport();"></i></a>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Audits </div>
                <div class="stat-text text-center"><span class="count">{{totalAudit}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-brown">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-7">
              <i class="pe-7s-info"></i>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Paras</div>
                <div class="stat-text text-center"><span class="count">{{totalPara}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-green">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-1">
              <i class="pe-7s-like2"></i>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Compliances</div>
                <div class="stat-text text-center"><span class="count">{{auditComplete}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- Orders -->
  <div class="orders">
    <div class="row">
      <div class="col-xl-6">
        <div class="card left-brd-green">
          <div class="card-header green">
            <strong class="card-title">Audit Calendar </strong>
          </div>
          <div class="card-body">
            <div class="">
              <!--calender-cont widget-calender-->
              <div id="calendar">
                <!--<mat-card>-->
                <div class="row text-center">
                  <div class="col-md-4">
                    <div class="btn-group">
                      <div class="btn btn-outline-secondary"
                           mwlCalendarToday
                           [(viewDate)]="viewDate">
                        Today
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group">
                      <div class="btn btn-info"
                           mwlCalendarPreviousView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">
                        <i class="fa fa-chevron-left"></i> <!--Previous-->
                      </div>
                      <div class="btn btn-info"
                           mwlCalendarNextView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">
                        <!--Next--> <i class="fa fa-chevron-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div [ngSwitch]="view">
                  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
                                           [viewDate]="viewDate"
                                           [events]="events"
                                           [refresh]="refresh"
                                           [activeDayIsOpen]="activeDayIsOpen"
                                           (dayClicked)="dayClicked($event.day)"
                                           (eventTimesChanged)="eventDropped($event)">
                  </mwl-calendar-month-view>
                </div>
                <!--</mat-card>-->
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-xl-6">
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <div class="card left-brd-pink">
              <div class="card-header pink">
                <strong class="card-title">Audit Statistics <small><span class="badge badge-success float-right mt-1 pink-drk">All the data in percentage(%)</span></small></strong>
              </div>
              <div class="card-body">
                <div id="flotBarChart" class="float-chart ml-4 mr-4">
                  <!--<app-chart></app-chart>-->
                  <canvas id="canvas"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
  </div>
</div>

<!-- This is for Iad Head role  -->
<div *ngIf="IsShowIadHead">
  <div class="row dashboard-cards mt-2">
    <div class="col-lg-4 col-md-6">
      <div class="card brd-left-pink">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-4">
              <a> <i class="pe-7s-users" style="cursor:pointer" matTooltip="Open Reoprt" (click)="ApprovalStatus();"></i></a>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Approval Status</div>
                <div class="stat-text text-center"><span class="count">{{totalAuditors}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card brd-left-purple">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-2">
              <!--<i class="pe-7s-glasses"></i>-->
              <a> <i class="pe-7s-glasses" style="cursor:pointer" matTooltip="Open Reoprt" (click)="TotalIAD_OnFieldStatusReport();"></i></a>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">On Field Audit Status</div>
                <div class="stat-text text-center"><span class="count">{{totalAudit}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card brd-left-brown">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-7">
              <a> <i class="pe-7s-info" style="cursor:pointer" matTooltip="Open Reoprt" (click)="IADHowManyAsssignedReport();"></i></a>

            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">How many Assigned</div>
                <div class="stat-text text-center"><span class="count">{{totalAssigned}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-lg-3 col-md-6">
      <div class="card brd-left-green">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-1">
              <i class="pe-7s-like2"></i>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Compliances</div>
                <div class="stat-text text-center"><span class="count">{{auditComplete}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
  <div class="clearfix"></div>
  <!-- Orders -->
  <div class="orders">
    <div class="row">
      <div class="col-xl-6">
        <div class="card left-brd-green">
          <div class="card-header green">
            <strong class="card-title">Audit Calendar </strong>
          </div>
          <div class="card-body">
            <div class="">
              <!--calender-cont widget-calender-->
              <div id="calendar">
                <!--<mat-card>-->
                <div class="row text-center">
                  <div class="col-md-4">
                    <div class="btn-group">
                      <div class="btn btn-outline-secondary"
                           mwlCalendarToday
                           [(viewDate)]="viewDate">
                        Today
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group">
                      <div class="btn btn-info"
                           mwlCalendarPreviousView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">
                        <i class="fa fa-chevron-left"></i> <!--Previous-->
                      </div>
                      <div class="btn btn-info"
                           mwlCalendarNextView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">
                        <!--Next--> <i class="fa fa-chevron-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div [ngSwitch]="view">
                  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
                                           [viewDate]="viewDate"
                                           [events]="events"
                                           [refresh]="refresh"
                                           [activeDayIsOpen]="activeDayIsOpen"
                                           (dayClicked)="dayClicked($event.day)"
                                           (eventTimesChanged)="eventDropped($event)">
                  </mwl-calendar-month-view>
                </div>
                <!--</mat-card>-->
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-xl-6">
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <div class="card left-brd-pink">
              <div class="card-header pink">
                <strong class="card-title">Audit Statistics <small><span class="badge badge-success float-right mt-1 pink-drk">All the data in percentage(%)</span></small></strong>
              </div>
              <div class="card-body">
                <div id="flotBarChart" class="float-chart ml-4 mr-4">
                  <!--<app-chart></app-chart>-->
                  <canvas id="canvas"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
  </div>
</div>



<!-- This is for Audit Head role  -->
<div *ngIf="IsShowAuditHead">
  <div class="row dashboard-cards mt-2">
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-pink">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-4">
              <a> <i class="pe-7s-users" style="cursor:pointer" matTooltip="Open Reoprt" (click)="TotalAuditorsOpenReport();"></i></a>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Auditors</div>
                <div class="stat-text text-center"><span class="count">{{totalAuditors}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-purple">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-2">
              <!--<i class="pe-7s-glasses"></i>-->
              <a> <i class="pe-7s-glasses" style="cursor:pointer" matTooltip="Open Reoprt" (click)="TotalAuditReport();"></i></a>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Audits </div>
                <div class="stat-text text-center"><span class="count">{{totalAudit}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-brown">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-7">
              <i class="pe-7s-info"></i>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Paras</div>
                <div class="stat-text text-center"><span class="count">{{totalPara}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-green">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-1">
              <i class="pe-7s-like2"></i>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Compliances</div>
                <div class="stat-text text-center"><span class="count">{{auditComplete}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- Orders -->
  <div class="orders">
    <div class="row">
      <div class="col-xl-6">
        <div class="card left-brd-green">
          <div class="card-header green">
            <strong class="card-title">Audit Calendar </strong>
          </div>
          <div class="card-body">
            <div class="">
              <!--calender-cont widget-calender-->
              <div id="calendar">
                <!--<mat-card>-->
                <div class="row text-center">
                  <div class="col-md-4">
                    <div class="btn-group">
                      <div class="btn btn-outline-secondary"
                           mwlCalendarToday
                           [(viewDate)]="viewDate">
                        Today
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group">
                      <div class="btn btn-info"
                           mwlCalendarPreviousView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">
                        <i class="fa fa-chevron-left"></i> <!--Previous-->
                      </div>
                      <div class="btn btn-info"
                           mwlCalendarNextView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">
                        <!--Next--> <i class="fa fa-chevron-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div [ngSwitch]="view">
                  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
                                           [viewDate]="viewDate"
                                           [events]="events"
                                           [refresh]="refresh"
                                           [activeDayIsOpen]="activeDayIsOpen"
                                           (dayClicked)="dayClicked($event.day)"
                                           (eventTimesChanged)="eventDropped($event)">
                  </mwl-calendar-month-view>
                </div>
                <!--</mat-card>-->
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-xl-6">
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <div class="card left-brd-pink">
              <div class="card-header pink">
                <strong class="card-title">Audit Statistics <small><span class="badge badge-success float-right mt-1 pink-drk">All the data in percentage(%)</span></small></strong>
              </div>
              <div class="card-body">
                <div id="flotBarChart" class="float-chart ml-4 mr-4">
                  <!--<app-chart></app-chart>-->
                  <canvas id="canvas"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
  </div>
</div>

<div *ngIf="IsShowAuditDH">
  <div class="row dashboard-cards mt-2">
    <!--<div class="col-lg-3 col-md-6">
      <div class="card brd-left-pink">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-4">
              <a> <i class="pe-7s-users" style="cursor:pointer" matTooltip="Open Reoprt" (click)="TotalAuditorsOpenReport();"></i></a>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Para</div>
                <div class="stat-text text-center"><span class="count">{{totalPara}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <div class="col-lg-4 col-md-6">
      <div class="card brd-left-purple">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-2">
              <!--<i class="pe-7s-glasses"></i>-->
              <a> <i class="pe-7s-glasses" style="cursor:pointer" matTooltip="Open Reoprt" (click)="TotalAuditReport();"></i></a>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">No of Para Raised</div>
                <div class="stat-text text-center"><span class="count">{{totalPara}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card brd-left-brown">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-7">
              <i class="pe-7s-info"></i>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Settelment Status</div>
                <div class="stat-text text-center"><span class="count">{{SettelmentStatus}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card brd-left-green">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-1">
              <i class="pe-7s-like2"></i>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Compliances</div>
                <div class="stat-text text-center"><span class="count">{{auditComplete}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- Orders -->
  <div class="orders">
    <div class="row">
      <div class="col-xl-6">
        <div class="card left-brd-green">
          <div class="card-header green">
            <strong class="card-title">Audit Calendar </strong>
          </div>
          <div class="card-body">
            <div class="">
              <!--calender-cont widget-calender-->
              <div id="calendar">
                <!--<mat-card>-->
                <div class="row text-center">
                  <div class="col-md-4">
                    <div class="btn-group">
                      <div class="btn btn-outline-secondary"
                           mwlCalendarToday
                           [(viewDate)]="viewDate">
                        Today
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group">
                      <div class="btn btn-info"
                           mwlCalendarPreviousView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">
                        <i class="fa fa-chevron-left"></i> <!--Previous-->
                      </div>
                      <div class="btn btn-info"
                           mwlCalendarNextView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">
                        <!--Next--> <i class="fa fa-chevron-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div [ngSwitch]="view">
                  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
                                           [viewDate]="viewDate"
                                           [events]="events"
                                           [refresh]="refresh"
                                           [activeDayIsOpen]="activeDayIsOpen"
                                           (dayClicked)="dayClicked($event.day)"
                                           (eventTimesChanged)="eventDropped($event)">
                  </mwl-calendar-month-view>
                </div>
                <!--</mat-card>-->
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-xl-6">
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <div class="card left-brd-pink">
              <div class="card-header pink">
                <strong class="card-title">Audit Entry User Statistics <small><span class="badge badge-success float-right mt-1 pink-drk">All the data in percentage(%)</span></small></strong>
              </div>
              <div class="card-body">
                <div id="flotBarChart" class="float-chart ml-4 mr-4">
                  <!--<app-chart></app-chart>-->
                  <canvas id="canvas"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
  </div>
</div>
<!-- This is for AuditeeHead -->

<div *ngIf="IsShowAuditeeDH">
  <div class="row dashboard-cards mt-2">
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-pink">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-4">
              <a> <i class="pe-7s-users" style="cursor:pointer" matTooltip="Open Reoprt" (click)="TotalAuditorsOpenReport();"></i></a>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Auditors</div>
                <div class="stat-text text-center"><span class="count">{{totalAuditors}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-purple">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-2">
              <!--<i class="pe-7s-glasses"></i>-->
              <a> <i class="pe-7s-glasses" style="cursor:pointer" matTooltip="Open Reoprt" (click)="TotalAuditReport();"></i></a>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Audits </div>
                <div class="stat-text text-center"><span class="count">{{totalAudit}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-brown">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-7">
              <i class="pe-7s-info"></i>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Paras</div>
                <div class="stat-text text-center"><span class="count">{{totalPara}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-green">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-1">
              <i class="pe-7s-like2"></i>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Compliances</div>
                <div class="stat-text text-center"><span class="count">{{auditComplete}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- Orders -->
  <div class="orders">
    <div class="row">
      <div class="col-xl-6">
        <div class="card left-brd-green">
          <div class="card-header green">
            <strong class="card-title">Audit Calendar </strong>
          </div>
          <div class="card-body">
            <div class="">
              <!--calender-cont widget-calender-->
              <div id="calendar">
                <!--<mat-card>-->
                <div class="row text-center">
                  <div class="col-md-4">
                    <div class="btn-group">
                      <div class="btn btn-outline-secondary"
                           mwlCalendarToday
                           [(viewDate)]="viewDate">
                        Today
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group">
                      <div class="btn btn-info"
                           mwlCalendarPreviousView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">
                        <i class="fa fa-chevron-left"></i> <!--Previous-->
                      </div>
                      <div class="btn btn-info"
                           mwlCalendarNextView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">
                        <!--Next--> <i class="fa fa-chevron-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div [ngSwitch]="view">
                  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
                                           [viewDate]="viewDate"
                                           [events]="events"
                                           [refresh]="refresh"
                                           [activeDayIsOpen]="activeDayIsOpen"
                                           (dayClicked)="dayClicked($event.day)"
                                           (eventTimesChanged)="eventDropped($event)">
                  </mwl-calendar-month-view>
                </div>
                <!--</mat-card>-->
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-xl-6">
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <div class="card left-brd-pink">
              <div class="card-header pink">
                <strong class="card-title">Audit Statistics <small><span class="badge badge-success float-right mt-1 pink-drk">All the data in percentage(%)</span></small></strong>
              </div>
              <div class="card-body">
                <div id="flotBarChart" class="float-chart ml-4 mr-4">
                  <!--<app-chart></app-chart>-->
                  <canvas id="canvas"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
  </div>
</div>
<div *ngIf="IsShowAuditeeHead">
  <div class="row dashboard-cards mt-2">
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-pink">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-4">
              <a> <i class="pe-7s-users" style="cursor:pointer" matTooltip="Open Reoprt" (click)="TotalAuditorsOpenReport();"></i></a>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Auditors</div>
                <div class="stat-text text-center"><span class="count">{{totalAuditors}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-purple">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-2">
              <!--<i class="pe-7s-glasses"></i>-->
              <a> <i class="pe-7s-glasses" style="cursor:pointer" matTooltip="Open Reoprt" (click)="TotalAuditReport();"></i></a>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Audits </div>
                <div class="stat-text text-center"><span class="count">{{totalAudit}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-brown">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-7">
              <i class="pe-7s-info"></i>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Paras</div>
                <div class="stat-text text-center"><span class="count">{{totalPara}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card brd-left-green">
        <div class="card-body">
          <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-1">
              <i class="pe-7s-like2"></i>
            </div>
            <div class="vl"></div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">Total Compliances</div>
                <div class="stat-text text-center"><span class="count">{{auditComplete}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- Orders -->
  <div class="orders">
    <div class="row">
      <div class="col-xl-6">
        <div class="card left-brd-green">
          <div class="card-header green">
            <strong class="card-title">Audit Calendar </strong>
          </div>
          <div class="card-body">
            <div class="">
              <!--calender-cont widget-calender-->
              <div id="calendar">
                <!--<mat-card>-->
                <div class="row text-center">
                  <div class="col-md-4">
                    <div class="btn-group">
                      <div class="btn btn-outline-secondary"
                           mwlCalendarToday
                           [(viewDate)]="viewDate">
                        Today
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group">
                      <div class="btn btn-info"
                           mwlCalendarPreviousView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">
                        <i class="fa fa-chevron-left"></i> <!--Previous-->
                      </div>
                      <div class="btn btn-info"
                           mwlCalendarNextView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">
                        <!--Next--> <i class="fa fa-chevron-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div [ngSwitch]="view">
                  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
                                           [viewDate]="viewDate"
                                           [events]="events"
                                           [refresh]="refresh"
                                           [activeDayIsOpen]="activeDayIsOpen"
                                           (dayClicked)="dayClicked($event.day)"
                                           (eventTimesChanged)="eventDropped($event)">
                  </mwl-calendar-month-view>
                </div>
                <!--</mat-card>-->
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-xl-6">
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <div class="card left-brd-pink">
              <div class="card-header pink">
                <strong class="card-title">Audit Statistics <small><span class="badge badge-success float-right mt-1 pink-drk">All the data in percentage(%)</span></small></strong>
              </div>
              <div class="card-body">
                <div id="flotBarChart" class="float-chart ml-4 mr-4">
                  <!--<app-chart></app-chart>-->
                  <canvas id="canvas"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
  </div>
</div>
