tr > td:nth-child(2) {
  word-break: break-all;
  max-width: 50px;
  padding-right: 15px;
}

tr.mat-row > td {
  padding-right: 15px;
}
input[type=radio] {
  border: 0px;
  width: 50%;
  height: 1.5em;
}
