<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Quarterly Plan</strong>
      </div>
      <div class="card-body card-block">
        <form (ngSubmit)="fraudiquartlytDetails.valid && SaveQuartalyAudit();" #fraudiquartlytDetails="ngForm" novalidate>
          <div class="row">

            <div class="col-md-4">
              <mat-form-field class="wid-100">
                <mat-select placeholder="Select Financial Year" [(ngModel)]="mstauditFYear.financialYearId" name="financialYearId" #financial="ngModel" required (selectionChange)="bindAuditInGrid($event.value)">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="YearFilterCtrl" [placeholderLabel]="'Find Financial Year...'" [noEntriesFoundLabel]="'Financial Year is not found'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of filteredYear |async " [value]="item.financialYearId">
                    {{item.financialYear}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <span *ngIf="financial.invalid">select Financial Year</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <button class="btn btn-info" style="cursor:pointer;" *ngIf="isShowreject" type="button" (click)="QuarterRejectedreasonPopUp = !QuarterRejectedreasonPopUp">Show Remark</button>
              <button class="btn btn-info pull-right" [disabled]="isForwardToSupervisorbtn" (click)="bindSupervisorDropDown();ForwardToSupervisorPopUp = !ForwardToSupervisorPopUp" type="button">Forward to Supervisor</button><!---->
              <button class="btn btn-info pull-right" [disabled]="isTableHasData" (click)="SaveQuarterConfirmationPopUp=!SaveQuarterConfirmationPopUp" type="button"> Save</button>
            </div>
          </div>



        </form>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Quarterly Plan List</strong>
      </div>
      <div class="card-body card-block">
        <mat-card>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            <i class="material-icons icon-right">search</i>
          </mat-form-field>
          <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
            <ng-container matColumnDef="paoName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>PAO Name</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.paoName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Q1">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Quarter 1</mat-header-cell>
              <mat-cell *matCellDef="let element">   <input type="radio" class="btn-space" id="radio_{{element.paoId}}" [checked]="element.quarterStatus == 'Q1'" value="rd_{{element.paoId}}_Q1" name="rdstatus_{{element.paoId}}"> </mat-cell> <!--(click)="RdValueSet(node.paoId,'Q1');"-->
              <!--<input type="radio" class="btn-space" id="{{node.msMenuID}}_0" [disabled]="IsPermission" [checked]="node.status == 0" value="{{node.msMenuID}}_0" (click)="RdValueSet(node.msMenuID,0);" name="rdstatus_{{node.msMenuID}}">-->
            </ng-container>

            <ng-container matColumnDef="Q2">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Quarter 2</mat-header-cell>
              <mat-cell *matCellDef="let element">   <input type="radio" class="btn-space" [checked]="element.quarterStatus== 'Q2'" id="radio_{{element.paoId}}" value="rd_{{element.paoId}}_Q2" name="rdstatus_{{element.paoId}}"> </mat-cell><!--(click)="RdValueSet(element.paoId,'Q2');"-->
            </ng-container>
            <ng-container matColumnDef="Q3">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Quarter 3</mat-header-cell>
              <mat-cell *matCellDef="let element">   <input type="radio" class="btn-space" id="radio_{{element.paoId}}" [checked]="element.quarterStatus == 'Q3'" value="rd_{{element.paoId}}_Q3" name="rdstatus_{{element.paoId}}"> </mat-cell><!--(click)="RdValueSet(element.paoId,'Q3');"-->
            </ng-container>
            <ng-container matColumnDef="Q4">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Quarter 4</mat-header-cell>
              <mat-cell *matCellDef="let element">   <input type="radio" class="btn-space" id="radio_{{element.paoId}}" [checked]="element.quarterStatus == 'Q4'" value="rd_{{element.paoId}}_Q4" name="rdstatus_{{element.paoId}}"> </mat-cell><!--(click)="RdValueSet(element.paoId,'Q4');"-->
            </ng-container>
            <ng-container matColumnDef="notabailable">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Not Assigned</mat-header-cell>
              <mat-cell *matCellDef="let element">   <input type="radio" class="btn-space" id="radio_{{element.paoId}}" [checked]="element.quarterStatus== 'null'" value="rd_{{element.paoId}}_null" name="rdstatus_{{element.paoId}}"> </mat-cell><!--(click)="RdValueSet(element.paoId,'null');"-->
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.auditStatus}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>
          </mat-table>
          <div [hidden]="notFound">
            <font color="red">Data Not Found...</font>
          </div>
          <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<app-dialog [(visible)]="SaveQuarterConfirmationPopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure to save the Quarterly Plan?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="SaveQuartalyAudit();">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="ActiveSuperToForward();SaveQuarterConfirmationPopUp = !SaveQuarterConfirmationPopUp">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="QuarterRejectedreasonPopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">{{rejectedReason}}</h3>
    <div class="form-group text-center col-md-12">

      <button type="button" class="btn btn-info" (click)="QuarterRejectedreasonPopUp = !QuarterRejectedreasonPopUp">OK</button>
    </div>
  </div>
</app-dialog>


<!--<app-dialog [(visible)]="ForwardToSupervisorPopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure to forward to Supervisor?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-success" (click)="assignQuarterlyPlanToSupervisor()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-warning" (click)="ForwardToSupervisorPopUp = !ForwardToSupervisorPopUp">Cancel</button>
    </div>
  </div>
</app-dialog>-->
<app-dialog [(visible)]="ForwardToSupervisorPopUp">
  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Please Select a Supervisor </h4>
    <!-- Large input -->
    <div class="row">
      <div class="col-md-8">
        <div class="md-form form-lg">
          <mat-form-field class="wid-100" style="margin-top:-100px">
            <mat-select matNativeControl placeholder="Select Supervisor" [(ngModel)]="supervisor">
              <mat-option *ngFor="let supervisor of arrSupervisor" [value]="supervisor.roleUserMapID">{{supervisor.empName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info text-center btn-sm" (click)="assignQuarterlyPlanToSupervisor();Cancel()">Send</button>
        <button type="button" class="btn btn-secondary text-center btn-sm" (click)="Cancel();ForwardToSupervisorPopUp = !ForwardToSupervisorPopUp">Cancel</button>
      </div>
    </div>
  </div>
</app-dialog>

