<!--<div class="wrapper wrapper-full-page">

  <div class="full-page login-page" filter-color="black">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <form [formGroup]="loginForm" novalidate="" class="ng-untouched ng-pristine ng-valid slideInDown">
              <div class="card card-login">
                <div class="card-header text-center" data-background-color="rose">
                  <h4>Login</h4>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="material-icons">email</i>
                  </span>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email Address" formControlName="userName" name="username" required>
                  </mat-form-field>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="material-icons">lock_outline</i>
                  </span>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="password" formControlName="password" name="password" required>
                  </mat-form-field>
                </div>
                <div class="input-group">
                  <div class="row">
                    <div class="col-md-4">
                      <div style="background-color:beige" id="captcha">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <input matInput placeholder="Enter Captcha..." type="text" formControlName="captchaCode" name="captcha" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <span class="input-group-addon">
                    <i (click)="randomString()" title="Refresh Captcha" class="material-icons">refresh</i>
                  </span>

                </div>


              </div>
              <div class="footer text-center">
                <button mat-button class="btn btn-rose btn-simple btn-wd btn-lg" (click)="RedirecToHome()" [disabled]="!loginForm.valid">Login</button>
              </div>

            </form>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-dialog [(visible)]="CheckLoginRole">


  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Please select Department </h4>
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="md-form form-lg">
          <label for="inputLGEx">User ID</label>
          Root Admin
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form form-lg">
          <mat-form-field class="wid-50">
            <mat-select matNativeControl placeholder="Select Role" [(ngModel)]="deptId">
              <mat-option label="Select Role">Select Department</mat-option>
              <mat-option value="IAD">IAD</mat-option>
              <mat-option value="IAW">IAW</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info text-center btn-sm" (click)="NavigateToDashboard()">GO</button>
      </div>
    </div>
  </div>
</app-dialog>-->
<!-- Header top Start here -->
<div class="header-top">
  <div class="container">
    <ul class="acces-bar">
      <li>
        <a><img src="../../assets/img/ico-accessibility.png"></a>
        <ul class="dropdown">
          <li><a>A<sup>+</sup></a></li>
          <li><a>A<sup>-</sup></a></li>
          <li><a>A</a></li>
        </ul>
      </li>
      <li>
        <a><img src="../../assets/img/ico-accessibility-2.png"></a>
        <ul class="dropdown black-bg">
          <li><a class="black-bg">A</a></li>
        </ul>
      </li>
      <li><a class="hindi-font">हिन्दी</a></li>
    </ul>
  </div>
</div>
<!-- Header Star here -->
<section class="header_middle">
  <div class="container header">
    <div class="row">
      <div class="col">
        <h1 class="logo_one"><a><img src="../../assets/img/cga-logo.png" /></a></h1>
      </div>
      <div class="col">
        <h2 class="logo_two"><a><img src="../../assets/img/oias-logo.png"></a></h2>
      </div>
    </div>
  </div>
</section>
<!-- Header End here -->
<!-- Form Star here -->
<div class="login-body">
  <div class="form-wraper">
    <div class="container form-outer">
      <div class="row">
        <div class="col-lg-12">
          <div class="person"><img src="../../assets/img/user.png"><h3 class="login">User Login</h3></div>
          <form [formGroup]="loginForm" (ngSubmit)="RedirecToHome()">
            <div class="input-group">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Enter Username" formControlName="userName" name="username">
                <mat-error>Username Required!</mat-error>
              </mat-form-field>
            </div>
            <div class="input-group">
              <mat-form-field class="wid-100">
                <input type="password" matInput placeholder="Enter Password" formControlName="password" name="pswd">
                <mat-error>Password Required!</mat-error>
              </mat-form-field>
            </div>
            <div class="row captcha-section">
              <div class="col-md-2 d-none d-sm-block"></div>
              <div class="col-10 col-md-6">
                <div style="background-color:#cac3df;" id="captcha">
                </div>
              </div>
              <div class="col-2 col-md-1 captacha-image">
                <i (click)="randomString()" title="Refresh Captcha" class="material-icons">refresh</i>
              </div>
            </div>
            <mat-form-field class="wid-100">
              <input matInput type="text" class="form-control" placeholder="Enter Captcha..." name="captcha" formControlName="captchaCode">
              <mat-error>Captcha Required!</mat-error>
            </mat-form-field>
            <div class="input-field btn-wraper ">
              <button type="submit" class="btn btn-purple w-100" style="margin-left:0px" [disabled]="!loginForm.valid">Login</button>
              <div class="forgot"><a>Forgot Username</a> / <a>Password?</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Form End here -->
<!-- Footer Star here -->
<div class="footer-wraper">
  <section class="footer">
    <div class="container">
      <ul class="footer-nav">
        <li class="active"><a>Home</a></li>
        <li><a>About Us</a></li>
        <li><a>Contact Us</a></li>
      </ul>
    </div>
  </section>
  <!-- Footer End here -->
  <!-- Footer-2 Star here -->
  <section class="footer-2">
    <div class="container">
      <p>This web application belongs to Controller General of Accounts, Ministry of Finance, Government of India. © 2020, All rights reserved, National Informatics Centre Services Inc.</p>
    </div>
  </section>
</div>
<!-- Footer-2 End here -->

<app-dialog [(visible)]="CheckLoginRole">
  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Please select Role </h4>
    <div class="row">
      <div class="col-md-4" style="margin-left:10px">
        <div class="md-form form-lg">
          <mat-form-field class="wid-100" style="margin-top:-100px">
            <mat-select matNativeControl placeholder="Select Department" [(ngModel)]="deptId">
              <!--<mat-option label="Select Role">Select Department</mat-option>-->
              <mat-option value="IAD">IAD</mat-option>
              <!--<mat-option value="IAW">IAW</mat-option>-->
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4" style="margin-left:10px">
        <div class="md-form form-lg" *ngIf="loginResponse">
          <mat-form-field class="wid-100" style="margin-top:-100px">
            <mat-select matNativeControl placeholder="Select Role" [(ngModel)]="selectedRoleUserMapId">
              <mat-option *ngFor="let roleData of loginResponse.result" [value]="roleData.roleUserMapId">{{roleData.roleName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-info text-center btn-sm btn-width" [disabled]="!selectedRoleUserMapId" (click)="NavigateToDashboard()">GO</button>
      </div>
    </div>
  </div>
</app-dialog>
