.header-top {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(75, 44, 172) 20%, #ab9ec8 100%);
  width: 100%;
}

ul.acces-bar {
  list-style: none;
  text-align: right;
  margin: 0;
}

.acces-bar li {
  display: inline-block;
  position: relative;
  border-left: 1px solid #c6c6c6;
  padding: 5px 7px;
  text-align: center;
}

.acces-bar li:hover ul.dropdown {
  display: block;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 100%;
}

ul.dropdown {
  display: none;
  background: #dedede;
}

ul.dropdown li {
  display: block;
  margin: 0;
  border: 1px solid #d8d6d6;
}

ul.dropdown li a {
  color: #000;
}

ul.dropdown li:hover {
  background: #000;
  color: #fff;
}

ul.dropdown li:hover a {
  color: #fff;
  text-decoration: none;
}

.black-bg li {
  background: #000;
  padding: 5px 7px;
}

.black-bg li a {
  color: #ffff00 !important;
  padding: 4px;
}

.hindi-font {
  font-weight: 600;
  color: #000;
}

ul.acces-bar li a {
}



h1.logo_one {
  display: inline-block;
  margin: 0;
}

h2.logo_two {
  display: inline-block;
  float: right;
}

.container.header {
  padding: 12px 0 12px 0;
}

section.header_middle {
  background: #fff;
  border-bottom: 2px solid #4e3a9b;
}


.login-body {
  background-image: url("../../assets/img/audit-bg-4.png");
  padding: 120px 0 120px 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-wraper {
  height: auto;
  margin: 0 auto;
}

.form-outer {
  background: #fff;
  width: 420px;
  -webkit-box-shadow: 0px 0px 27px -9px #4b2cac;
  -moz-box-shadow: 0px 0px 27px -9px #4b2cac;
  box-shadow: 0px 0px 27px -9px #4b2cac;
  border-radius: 15px;
  border-top: 5px solid #4e3a9b;
  border-bottom: 5px solid #4e3a9b;
}

.footer {
  background: #fff;
  border-top: 2px solid #4e3a9b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.footer-nav {
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
  padding: 15px 0 15px 0;
}

.footer-nav li {
  display: inline-block;
  border-right: 1px solid #6f6969;
  font-size: 14px;
}

.footer-nav li:last-child {
  border-right: none;
}

.footer-nav li a {
  color: #000;
  text-decoration: none;
  padding: 5px;
}

li.active {
  font-weight: 500;
}

.footer-2 {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(75, 44, 172) 20%, #ab9ec8 100%);
  bottom: 0;
  width: 100%;
  line-height: 25px;
}

.footer-2 p {
  color: #d8d8d8;
  text-align: center;
  font-size: 13px;
  margin: 0;
  padding: 10px;
}

.person-wraper {
  width: 100%;
  height: 400px;
  position: relative;
}

.person img {
  width: auto;
  padding-top: 14px;
}

.person{
    display:table;
    margin: 0 auto;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field input {
  background: #eeeeee;
  border: none;
  height: 48px;
  border-radius: 27px;
  position: relative;
  padding-left: 40px;
}

.input-field i.icon {
  position: absolute;
  z-index: 9;
  margin-top: 17px;
  margin-left: 14px;
}

.input-field button {
  border: none;
  height: 48px;
  border-radius: 27px;
}

.login-body .btn-wraper {
  margin-top: 10px;
}

.login-body .btn-purple {
  color: #fff;
  background-color: #4b2cac;
}

.login-body .btn-purple:hover {
  color: #fff;
  background-color: #351679;
}

h3.login {
  text-align: center;
  margin-top: 10px;
  font-size: 1.45rem;
  color: #4e3a9b;
  text-shadow: 2px 1px #c2b3f2;
}

.forgot {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-style: italic;
}

.forgot a {
  text-decoration: none;
  font-size: 15px;
  color: #777575;
}

.forgot a:hover {
  font-size: 15px;
  color: #777575;
  font-weight: 500;
}

.col-md-1.captacha-image {
  margin-left: -15px;
  background-color: #cac3df;
}

.col-md-1.captacha-image .material-icons {
  margin-top: 15px;
  margin-left: -20px;
}

.row .captcha-section .col-md-6 {
  margin-left: 20px;
}


@media (max-width: 576px) {
  .form-outer {
    width: 350px;
  }

  .row .captcha-section .col-md-6 {
    margin-left: 0px;
  }
}

