<div class="col-md-12 col-lg-12">
  <form [formGroup]="auditParaForm" (ngSubmit)="submit()">
    <button type="submit" class="btn btn-info pull-right btn-width">Save</button>
    <h2><u>{{selectedAudit.name}}</u></h2>
    <mat-card>
      <div class="row">
        <div class="col-md-6">
          <b>Para Title: </b>
          <mat-form-field class="wid-100">
            <input matInput formControlName="title" maxlength="200" />
            <mat-error>Title Required!</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <b>Severity: </b>
          <mat-form-field class="wid-100">
            <mat-select formControlName="severity" placeholder="Select Severity">
              <mat-option value="low">Low</mat-option>
              <mat-option value="medium">Medium</mat-option>
              <mat-option value="high">High</mat-option>
            </mat-select>
            <mat-error>Severity Required!</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <b>Risk Category: </b>
          <mat-form-field class="wid-100">
            <mat-select formControlName="riskCategoryId" placeholder="Select Risk Category">
              <mat-option *ngFor="let risk of riskCategories" [value]="risk.riskCategoryID">{{risk.riskCategoryDesc}}</mat-option>
            </mat-select>
            <mat-error>Risk Category Required!</mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-card>
        <div class="col-md-6">
          <div class="ckeditor-margin">
            <b>Criteria: </b>
            <ckeditor [editor]="Editor" formControlName="criteria"></ckeditor>
            <!--<mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.agenda.errors && exitConferenceForm.controls.agenda.errors.required == true">Topic of Discussion Required!</mat-error>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="ckeditor-margin">
            <b>Conditions: </b>
            <ckeditor [editor]="Editor" formControlName="conditions"></ckeditor>
            <!--<mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.agenda.errors && exitConferenceForm.controls.agenda.errors.required == true">Topic of Discussion Required!</mat-error>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="ckeditor-margin">
            <b>Consequences: </b>
            <ckeditor [editor]="Editor" formControlName="consequences"></ckeditor>
            <!--<mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.agenda.errors && exitConferenceForm.controls.agenda.errors.required == true">Topic of Discussion Required!</mat-error>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="ckeditor-margin">
            <b>Causes: </b>
            <ckeditor [editor]="Editor" formControlName="causes"></ckeditor>
            <!--<mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.agenda.errors && exitConferenceForm.controls.agenda.errors.required == true">Topic of Discussion Required!</mat-error>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="ckeditor-margin">
            <b>CorrectiveActions: </b>
            <ckeditor [editor]="Editor" formControlName="correctiveActions"></ckeditor>
            <!--<mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.agenda.errors && exitConferenceForm.controls.agenda.errors.required == true">Topic of Discussion Required!</mat-error>-->
          </div>
        </div>
        <div class="col-md-6">
          <b>Upload Evidence: </b>
          <mat-card>
            <div class="col-md-3">
              <input type="file" (change)="filesToBeUploaded($event.target.files)" accept=".pdf,.jpeg" id="evidence" style="display:none" multiple />
              <label for="evidence" class="btn btn-info">Choose Files</label>
            </div>
            <div class="col-md-9">
              <div *ngFor="let file of uploadFiles"><a>{{file.name}}</a> <br /></div>
            </div>
          </mat-card>
        </div>
      </mat-card>
    </mat-card>
  </form>
</div>
