<div class="card left-brd-pink">
  <div class="card-header pink">
    <button class="btn btn-secondary pull-right btn-width" *ngIf="roleId == 7  && (details.auditeeStatusId!=11) && (details.auditeeStatusId!=12)" (click)="RejectPopUp = true">Reject</button>
    <button class="btn btn-info pull-right" *ngIf="roleId == 7 && (details.auditeeStatusId!=11) && (details.auditeeStatusId!=12)" (click)="updateAuditParaStatus(13)">Approve and forward to supervisor</button>
    <button class="btn btn-info  pull-right" *ngIf="roleId==8 && details.auditeeStatusId!=5 && (details.auditeeStatusId==12  || details.auditeeStatusId==10)" (click)="forwardToAuditHead(5)">Forward to Auditee Head for Verification</button>
    <strong class="card-title">{{selectedAudit.name}}</strong>
  </div>
  </div>
  <div class="row">

 
    <div class="col-md-6">
      <div class="card left-brd-pink">
        <div class="card-header pink">
          <strong class="card-title">Para Observation Details:-</strong>
        </div>
        <mat-card *ngIf="details">

          <!--<h3 class="text-left card-title"><b>Para Observation Details:- </b></h3>-->
          <div><strong>Para Title : </strong> <label>{{details.title}}</label></div>
          <div><strong>Criteria : </strong> <div class="conference-background-color" innerHTML="{{details.criteria}}"></div></div>
          <div><strong>Conditions : </strong> <div class="conference-background-color" innerHTML="{{details.conditions}}"></div></div>
          <div><strong>Consequences : </strong> <div class="conference-background-color" innerHTML="{{details.consequences}}"></div></div>
          <div><strong>Causes : </strong> <div class="conference-background-color" innerHTML="{{details.causes}}"></div></div>
          <div><strong>CorrectiveActions : </strong> <div class="conference-background-color" innerHTML="{{details.correctiveActions}}"></div></div>
          <div><strong>Severity : </strong> <label>{{details.severity}}</label></div>
          <div><strong>Risk Category : </strong> <label>{{details.riskCategoryDesc}}</label></div>
          <!--<div><strong>Attach : </strong> <div *ngFor="let file of details.files"><a>{{file.fileName}}</a> <br /></div></div>-->
          <div><strong>Attach : </strong> <div *ngFor="let file of details.files">{{file.fileName}} <a *ngIf="file.fileName!=null" class="material-icons" (click)="DownloadFile('Documents/'+file.fileName)"> vertical_align_bottom<br /></a> <br /></div></div>

        </mat-card>
        <!--<mat-card *ngIf="details">
    <b>Rejection Remark: </b> <label>{{details.rejectionRemark}}</label>
  </mat-card>-->
      </div>
    </div>
    <div class="col-md-6">
      <div class="card left-brd-pink">
        <div class="card-header pink">
          <strong class="card-title">Compliance Notes:-</strong>
        </div>
        <mat-card>
          <!--<h3 class="text-left"><b>Compliance Notes:- </b></h3>-->
          <mat-card>
            <div style="height:400px;overflow-y:auto;word-wrap:break-word" #scrollMe [scrollTop]="scrollMe.scrollHeight">
              <div *ngFor="let cmt of commentsList">
                <div class="row" *ngIf="cmt.roleId == 8" style="margin:5px">
                  <div style="background-color: beige;border-radius:15px" class="col-md-10">
                    <label>{{cmt.empName}}</label><br />
                    <strong>{{cmt.comment}}</strong>
                    <div *ngFor="let file of cmt.files">{{file.fileName}} <a *ngIf="file.fileName!=null" class="material-icons" (click)="DownloadFile('Documents/'+file.fileName)">vertical_align_bottom<br /></a></div>

                    <!--<div><a *ngFor="let file of cmt.files">{{file.fileName}}</a></div>-->
                    <label class="pull-right">{{cmt.createdOn | date: 'dd/MM/yyyy hh:mm a'}}</label>
                   
                  </div>
                </div>
                <div class="row" *ngIf="cmt.roleId == 6" style="margin:5px">
                  <div class="col-md-10 pull-right" style="background-color: lightblue;border-radius:15px">
                    <label>{{cmt.empName}}</label><br />
                    <strong>{{cmt.comment}}</strong>
                    <!--<div><a *ngFor="let file of cmt.files">{{file.fileName}}<br /></a></div>-->
                    <div *ngFor="let file of cmt.files">{{file.fileName}} <a *ngIf="file.fileName!=null" class="material-icons" (click)="DownloadFile('Documents/'+file.fileName)">vertical_align_bottom<br /></a></div>

                    <label class="pull-right">{{cmt.createdOn | date: 'dd/MM/yyyy hh:mm a'}}</label>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
          <div class="row" *ngIf="roleId==8 && details.auditeeStatusId!=5  && (details.auditeeStatusId==12  || details.auditeeStatusId==10)">
            <div class="col-md-9" style="margin-top: 20px">
              <mat-form-field class="wid-100">
                <textarea matInput maxlength="500" placeholder="Enter Compliance Notes" [(ngModel)]="comment" cols="5"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-3" style="margin-top:40px">
              <input type="file" (change)="filesToBeUploaded($event.target.files)" accept=".pdf,.jpeg" id="evidence" style="display:none" multiple />
              <label for="evidence" class="btn btn-info">Choose Files</label>
            </div>
          </div>
          <div class="row" *ngIf="roleId == 8 && details.auditeeStatusId!=5  && (details.auditeeStatusId==12  || details.auditeeStatusId==10)">
            <div class="col-md-6 offset-md-4">
              <div *ngFor="let file of uploadFiles"><a> {{file.name}}</a> <br /></div>
              <button class="btn btn-info btn-width" (click)="postParaComment()">Post</button>
            </div>
          </div>
        </mat-card>
      </div>
      </div>
    </div>
    
    <app-dialog [(visible)]="RejectPopUp">
      <div class="card-content panel panel-body panel-default">
        <h3 class="card-title text-center">Do you want to Reject this Para?</h3>
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Rejection Remark" [(ngModel)]="rejectionRemark" maxlength="200"></textarea>
        </mat-form-field>
        <div class="form-group text-center col-md-12">
          <button type="button" class="btn btn-info" (click)="updateAuditParaStatus(12)">Yes</button>
          &nbsp;
          <button type="button" class="btn btn-warning" (click)="RejectPopUp = false">Cancel</button>
        </div>
      </div>
    </app-dialog>
