<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Create Auditor Universe</strong>
      </div>
      <div class="card-body card-block">
        <form class="form-horizontal form-bordered striped-rows" (ngSubmit)="frmempDetails.valid && SaveEmpDetails();" #frmempDetails="ngForm" novalidate>
          <!---->
          <input type="text" name="someData" [(ngModel)]="hdnEmpId" style="display: none;" />

          <!--<input type="text" name="someData" [(ngModel)]="hdnMenuId" style="display: none;" />-->
          <div class="form-group row">

            <div class="col-md-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Enter Employee Name" required [(ngModel)]="MstempDetails.empName" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" autocomplete="off" name="empName" #empName="ngModel"><!--required  #empName="ngModel"-->
                <mat-error>
                  <span *ngIf="empName.invalid">Numeric and Operator Not Allowed</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-4">

              <mat-form-field class="wid-100">
                <mat-select placeholder="Select Designation" [(ngModel)]="MstempDetails.desigName" name="designation" #desigName="ngModel">
                  <!--#Designation="ngModel"-->

                  <mat-option>
                    <ngx-mat-select-search [formControl]="DesigFilterCtrl" [placeholderLabel]="'Find Designation...'" [noEntriesFoundLabel]="'Designation is not found'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of filteredDesig |async " [value]="item.desigID">
                    {{item.desigName}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <span *ngIf="desigName.invalid">Select Designation</span>
                </mat-error>

              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Enter Email (gov.in/nic.in)" required [(ngModel)]="MstempDetails.email" pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gov|nic)\.in$" autocomplete="off" name="email" #email="ngModel"><!--pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"-->
                <mat-error>
                  <span *ngIf="email.invalid">Enter The Right Format Email </span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Enter Mobile No" [(ngModel)]="MstempDetails.mobileNo" autocomplete="off" name="mobileNo" #mobileNo="ngModel" required pattern="^((?!(0))[0-9]{10})$" maxlength="10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"><!--pattern="^[a-zA-Z][a-zA-Z0-9 ]+$"-->
                <mat-error>
                  <span *ngIf="mobileNo.invalid">Invalid number</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class=" col-md-4">

              <mat-form-field class="wid-10" style="width:84px">
                <input type="tel" matInput placeholder="STD Code" [(ngModel)]="MstempDetails.stdCode" #stdCode="ngModel" name="stdCode" required minlength="3" maxlength="4" pattern="^(?=.*\d)(?=.*[1-9]).{1,10}$" autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                <mat-error>
                  <span *ngIf="stdCode.invalid">Invalid number</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field style="margin-left: 15px;width:375px">
                <input type="tel" matInput placeholder="Enter Phone No." [(ngModel)]="MstempDetails.phoneNo" autocomplete="off" name="phoneNo" #phoneNo="ngModel" required minlength="7" maxlength="8" pattern="^(?=.*\d)(?=.*[1-9]).{1,10}$" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" /><!-- required pattern="[+-]?[0-9][0-9]*"-->
                <mat-error>
                  <span *ngIf="phoneNo.invalid">Invalid number</span>
                 </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">

            </div>
          </div>
          <div class="form-group text-center col-md-12  mt-4">
            <button type="submit" class="btn btn-info" [disabled]="!frmempDetails.valid">save</button>
            &nbsp;
            <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Auditor List</strong>
      </div>
      <div class="card-body card-block">
        <mat-card>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" blank-space-directive [(ngModel)]="searchTerm" placeholder="Search">
            <i class="material-icons icon-right">search</i>
          </mat-form-field>

          <mat-table [dataSource]="ArrEmpdataSource" matSort class="mat-elevation-z8 even-odd-color">
            <ng-container matColumnDef="empName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
              <mat-cell *matCellDef="let element ; let i = index;">{{ element.empName }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="designation">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Designation </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.designation }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="mobileNo">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile No.</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.mobileNo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phoneNo">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Phone No.</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.phoneNo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a class="material-icons i-edit" matTooltip="Edit" *ngIf="element.isActive =='Active'" (click)="UpdateFillForm(element.empID,element.empName,element.email,element.mobileNo,element.desigID,element.phoneNo);onEdit();">edit</a>
                <div *ngIf="element.isActive =='Active'">
                  <!--<a class="material-icons i-activate" matTooltip="delete" (click)="ActiveDeactiveFillPopUpUser(element.empID,element.isActive);ActivateUser=!ActivateUser">check_circle</a>-->
                  <mat-slide-toggle [checked]="true" (change)="ActiveDeactiveFillPopUpUser(element.empID,element.isActive);ActivateUser=!ActivateUser" matTooltip="Activate/deactivate" color="primary"></mat-slide-toggle><!--toggleRoleActivation($event, element);-->
                </div>
                <div *ngIf="element.isActive =='Not Active'">
                  <!--<a class="material-icons  i-dactivate" matTooltip="delete" (click)="ActiveDeactiveFillPopUpUser(element.empID,element.isActive);ActivateUser=!ActivateUser">cancel</a>-->
                  <mat-slide-toggle [checked]="false" (change)="ActiveDeactiveFillPopUpUser(element.empID,element.isActive);ActivateUser=!ActivateUser" matTooltip="Activate/deactivate" color="primary"></mat-slide-toggle><!--toggleRoleActivation($event, element)"-->
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>
          <div [hidden]="notFound">
            <font color="red">Data Not Found...</font>
          </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<app-dialog [(visible)]="ActivateUser">
  <form (ngSubmit)="ActiveDeactiveUser();">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">{{ActiveDactiveHeaderText}}</h3>
      <div class="form-group text-center col-md-12">
        <button type="submit" class="btn btn-info">Yes</button><!--(click)="ActiveDeactiveUser();"-->
        &nbsp;
        <button type="button" class="btn btn-info" (click)="CancelPopUp();">Cancel</button><!--ActivateUser=!ActivateUser"-->
      </div>
    </div>
  </form>
</app-dialog>


<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img height="70px" width="70px" src="~/../assets/Loder12.gif">
</div>



