<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Select Financial Year" [(ngModel)]="mstFyear.financialYearId" name="financialYearId" #financial="ngModel" (selectionChange)="getAllAudit($event.value)">
                <mat-option>
                  <ngx-mat-select-search [formControl]="YearFilterCtrl" [placeholderLabel]="'Find Financial Year...'" [noEntriesFoundLabel]="'Financial Year is not found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let item of filteredYear |async " [value]="item.financialYearId">
                  {{item.financialYear}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <button class="btn btn-info pull-right" [disabled]="isTableHasData" (click)="bindSupervisorDropDown();ForwardToSupervisorPopUp=!ForwardToSupervisorPopUp">Forward to Supervisor</button>
            <button class="btn btn-secondary pull-right" [disabled]="isTableHasData" (click)="rejectAuditPopUp=!rejectAuditPopUp">Reject</button>
            <button class="btn btn-info pull-right" [disabled]="isTableHasData" (click)="anualplanApprove();">Approve</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Annual Audit List</strong>
      </div>
      <div class="card-body card-block">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" [(ngModel)]="TxtSearch" placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>

        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color mat-table">
          <!-- Column -->
          <ng-container matColumnDef="paoName">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> PAO Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.paoName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="paoCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="20%">PAO Code </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.paoCode}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="auditReason">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> Audit Reason </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.auditReason}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.auditStatus}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div [hidden]="notFound">
          <font color="red">Data Not Found...</font>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
    <!--<div class="col-md-12 col-lg-12 pading-16 text-center mb-20">

      <button class="btn btn-labeled btn-success add-list  text-center" >

        Forward to supervisor
      </button>

    </div>-->
  </div>
</div>

<app-dialog [(visible)]="rejectAuditPopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to reject annual audit?</h3>
    <div class="form-group text-center col-md-12">

      <mat-form-field class="wid-100">
        <textarea matInput id="rejectreson" name="rejectreson" placeholder="Remark..." style="width:300px" rows="2" [(ngModel)]="rejectreson">
</textarea>
      </mat-form-field>
    </div>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="rejectanualsAudit(); rejectAuditPopUp = false">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="resettextarea();rejectAuditPopUp = !rejectAuditPopUp">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="ForwardToSupervisorPopUp">
  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Please Select a Supervisor </h4>
    <!-- Large input -->
    <div class="row">
      <div class="col-md-8">
        <div class="md-form form-lg">
          <mat-form-field class="wid-100" style="margin-top:-100px">
            <mat-select matNativeControl placeholder="Select Supervisor" [(ngModel)]="supervisor">
              <mat-option *ngFor="let supervisor of arrSupervisor" [value]="supervisor.roleUserMapID">{{supervisor.empName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info" (click)="supervisorTosupervisor();Cancel()">Forward</button>
        &nbsp;
        <button type="button" class="btn btn-secondary" (click)="Cancel();ForwardToSupervisorPopUp = !ForwardToSupervisorPopUp">Cancel</button>
      </div>
    </div>
  </div>
</app-dialog>
