<div class="row">
  <div class="col-md-12 col-lg-12" *ngIf="details">

    <div class="row">
      <div class="col-md-12">
        <div class="card left-brd-pink">
          <div class="card-header pink">
            <div class="row">
              <div class="col-md-6">
                <strong class="card-title">{{selectedAudit.name}}</strong>
              </div>
              <div class="col-md-6">
                <button class="btn btn-info pull-right btn-width" [routerLink]="['../../audit-para-edit/', paraId]" *ngIf="roleId == 6 && (details.statusId == 1 || details.statusId == 3 || details.statusId == 9)">Edit Para</button>
                <button class="btn btn-info pull-right" *ngIf="roleId == 6 && (details.statusId == 1 || details.statusId == 3 || details.statusId == 9)" (click)="updateAuditParaStatus(6)">Forward To Audit Head</button>
                <button class="btn btn-secondary pull-right btn-width" *ngIf="roleId == 5 && details.statusId == 6" (click)="RejectPopUp = true">Reject</button>
                <button class="btn btn-info pull-right" *ngIf="roleId == 5 && details.statusId == 6" (click)="updateAuditParaStatus(7)">Approve and Forward To Audit Supervisor</button>
                <!--<button class="btn btn-success pull-right btn-width" *ngIf="roleId == 5 && details.statusId == 6" (click)="updateAuditParaStatus(2)">Approve</button>-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card left-brd-pink" *ngIf="details">
          <div class="card-header pink">
            <strong class="card-title">Details</strong>
          </div>
          <div class="card-body card-block">
            <div><strong>Para Title : </strong> <label>{{details.title}}</label></div>
            <div><strong>Criteria : </strong> <div class="conference-background-color" innerHTML="{{details.criteria}}"></div></div>
            <div><strong>Conditions : </strong> <div class="conference-background-color" innerHTML="{{details.conditions}}"></div></div>
            <div><strong>Consequences : </strong> <div class="conference-background-color" innerHTML="{{details.consequences}}"></div></div>
            <div><strong>Causes : </strong> <div class="conference-background-color" innerHTML="{{details.causes}}"></div></div>
            <div><strong>CorrectiveActions : </strong> <div class="conference-background-color" innerHTML="{{details.correctiveActions}}"></div></div>
            <div><strong>Severity : </strong> <label>{{details.severity}}</label></div>
            <div><strong>Risk Category : </strong> <label>{{details.riskCategoryDesc}}</label></div>
            <div><strong>Attach : </strong> <div *ngFor="let file of details.files"><a>{{file.fileName}}</a> <br /></div></div>
            <div *ngIf="financialImplications.length > 0">
              <strong>Financial Implications Details : </strong>
              <table>
                <thead>
                  <tr>
                    <th>
                      Financial Implication Case
                    </th>
                    <th>
                      Amount
                    </th>
                    <th>
                      Remarks
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let impli of financialImplications">
                    <td>{{impli.financialImplicationCase}}</td>
                    <td>{{impli.amount}}</td>
                    <td>{{impli.remarks}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <mat-card *ngIf="details.rejectionRemark">
          <b>Rejection Remark: </b> <label>{{details.rejectionRemark}}</label>
        </mat-card>
      </div>
      <div class="col-md-6">
        <div class="card left-brd-pink">
          <div class="card-header pink">
            <strong class="card-title">Para Observation Notes</strong>
          </div>
          <div class="card-body card-block">
            <mat-card>
              <div style="height:400px;overflow-y:auto;word-wrap:break-word" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                <div *ngFor="let cmt of commentsList">
                  <div class="row" *ngIf="cmt.roleId == 8" style="margin:5px">
                    <div style="background-color: beige;border-radius:15px" class="col-md-10">
                      <label>{{cmt.empName}}</label><br />
                      <strong>{{cmt.comment}}</strong>
                      <div><a *ngFor="let file of cmt.files">{{file.fileName}}</a></div>
                      <label class="pull-right">{{cmt.createdOn | date: 'dd/MM/yyyy hh:mm a'}}</label>
                    </div>
                  </div>
                  <div class="row" *ngIf="cmt.roleId == 6" style="margin:5px">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 pull-right" style="background-color: lightblue;border-radius:15px">
                      <label>{{cmt.empName}}</label><br />
                      <strong>{{cmt.comment}}</strong>
                      <div><a *ngFor="let file of cmt.files">{{file.fileName}}<br /></a></div>
                      <label class="pull-right">{{cmt.createdOn | date: 'dd/MM/yyyy hh:mm a'}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
            <div class="row" *ngIf="roleId == 6">
              <div class="col-md-9" style="margin-top: 20px">
                <mat-form-field class="wid-100">
                  <textarea matInput maxlength="500" placeholder="Enter Comment" [(ngModel)]="comment" cols="5"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-3" style="margin-top:40px">
                <input type="file" (change)="filesToBeUploaded($event.target.files)" accept=".pdf,.jpeg" id="evidence" style="display:none" multiple />
                <label for="evidence" class="btn btn-info">Choose Files</label>
              </div>
              <div class="col-md-9">
                <div *ngFor="let file of uploadFiles"><a>{{file.name}}</a> <br /></div>
              </div>
              <button class="btn btn-info btn-width" (click)="postParaComment()" style="margin-top: 20px">Post</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-dialog [(visible)]="RejectPopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Reject this Para?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput placeholder="Rejection Remark" [(ngModel)]="rejectionRemark" maxlength="200"></textarea>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateAuditParaStatus(3)">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="RejectPopUp = false">Cancel</button>
    </div>
  </div>
</app-dialog>
