<!-- Header-->
<header id="header" class="header">
  <div class="top-left">
    <div class="navbar-header">
      <a class="navbar-brand"><span>Internal Audit System </span></a>
      <a class="navbar-brand hidden"><img src="images/logo2.png" alt="Logo"></a>

    </div>
  </div>
  <div class="top-right">
    <div class="header-menu">
      <!--<div class="user-area dropdown float-right">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="user-profile">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>assignment_ind</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="LogOut();">
            <mat-icon>play_for_work</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
        <div class="photo">
          <img src="~/../assets/emp.png">
        </div>
      </div>-->
      <div class="user-area dropdown float-right">
        <a class="dropdown-toggle active" [matMenuTriggerFor]="menu">
          <img class="user-avatar rounded-circle" src="~/../assets/emp.png" alt="User Avatar"> <span class="user-role">Logged in as {{userRole}}</span>
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="switchToRole" *ngIf="totalRoles.length > 0">
            <mat-icon>compare_arrows</mat-icon>
            <span>Switch Role</span>
          </button>
          <button mat-menu-item>
            <mat-icon>assignment_ind</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="LogOut();">
            <mat-icon>play_for_work</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
        <mat-menu #switchToRole="matMenu">
          <button *ngFor="let role of totalRoles" mat-menu-item (click)="switchRole(role.roleUserMapId)">
            <mat-icon>compare_arrows</mat-icon>
            <span>{{role.roleName}}</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
