<!--The content below is only a placeholder and can be replaced.-->





    <!--<section class="jumbotron text-center">
      <div class="">
        <div class="album py-5 bg-light">
          <div class="">
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-12">-->
                 
                    <ssrs-reportviewer [reportserver]="reportServer" [reporturl]="reportUrl" [showparameters]="showParameters" [parameters]="parameters" [language]="language" [width]="width" [height]="height" [toolbar]="toolbar"></ssrs-reportviewer>
                 
                <!--</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>-->



