<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">{{selectedAudit.name}}</strong>
      </div>
    </div>
  </div>


  <div class="col-md-12 col-lg-12">
    <form [formGroup]="auditParaForm">
      <div class="card left-brd-pink">
        <div class="card-header pink">
          <strong class="card-title">Update Audit Para</strong>
          <button class="btn btn-info pull-right btn-width" (click)="submit()">Save</button>
        </div>
        <div class="card-body card-block">
          <div class="row">
            <div class="col-md-6">
              <b>Para Title: </b>
              <mat-form-field class="wid-100">
                <input matInput formControlName="title" maxlength="200" />
                <mat-error>Title Required!</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <b>Severity: </b>
              <mat-form-field class="wid-100">
                <mat-select formControlName="severity" placeholder="Select Severity">
                  <mat-option value="low">Low</mat-option>
                  <mat-option value="medium">Medium</mat-option>
                  <mat-option value="high">High</mat-option>
                </mat-select>
                <mat-error>Severity Required!</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <b>Risk Category: </b>
              <mat-form-field class="wid-100">
                <mat-select formControlName="riskCategoryId" placeholder="Select Risk Category">
                  <mat-option *ngFor="let risk of riskCategories" [value]="risk.riskCategoryID">{{risk.riskCategoryDesc}}</mat-option>
                </mat-select>
                <mat-error>Risk Category Required!</mat-error>
              </mat-form-field>
            </div>
          </div>
          <mat-card>
            <div class="row">
              <div class="col-md-6">
                <div class="ckeditor-margin">
                  <b>Criteria: </b>
                  <ckeditor [config]="{ removePlugins: [ 'Link', 'ImageUpload', 'MediaEmbed' ] }" [editor]="Editor" formControlName="criteria"></ckeditor>
                  <!--<mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.agenda.errors && exitConferenceForm.controls.agenda.errors.required == true">Topic of Discussion Required!</mat-error>-->
                </div>
              </div>
              <div class="col-md-6">
                <div class="ckeditor-margin">
                  <b>Conditions: </b>
                  <ckeditor [config]="{ removePlugins: [ 'Link', 'ImageUpload', 'MediaEmbed' ] }" [editor]="Editor" formControlName="conditions"></ckeditor>
                  <!--<mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.agenda.errors && exitConferenceForm.controls.agenda.errors.required == true">Topic of Discussion Required!</mat-error>-->
                </div>
              </div>
              <div class="col-md-6">
                <div class="ckeditor-margin">
                  <b>Consequences: </b>
                  <ckeditor [config]="{ removePlugins: [ 'Link', 'ImageUpload', 'MediaEmbed' ] }" [editor]="Editor" formControlName="consequences"></ckeditor>
                  <!--<mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.agenda.errors && exitConferenceForm.controls.agenda.errors.required == true">Topic of Discussion Required!</mat-error>-->
                </div>
              </div>
              <div class="col-md-6">
                <div class="ckeditor-margin">
                  <b>Causes: </b>
                  <ckeditor [config]="{ removePlugins: [ 'Link', 'ImageUpload', 'MediaEmbed' ] }" [editor]="Editor" formControlName="causes"></ckeditor>
                  <!--<mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.agenda.errors && exitConferenceForm.controls.agenda.errors.required == true">Topic of Discussion Required!</mat-error>-->
                </div>
              </div>
              <div class="col-md-6">
                <div class="ckeditor-margin">
                  <b>CorrectiveActions: </b>
                  <ckeditor [config]="{ removePlugins: [ 'Link', 'ImageUpload', 'MediaEmbed' ] }" [editor]="Editor" formControlName="correctiveActions"></ckeditor>
                  <!--<mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.agenda.errors && exitConferenceForm.controls.agenda.errors.required == true">Topic of Discussion Required!</mat-error>-->
                </div>
              </div>
              <div class="col-md-6">
                <b>Upload Evidence: </b>
                <mat-card>
                  <div class="col-md-3">
                    <input type="file" (change)="filesToBeUploaded($event.target.files)" accept=".pdf,.jpeg" id="evidence" style="display:none" multiple />
                    <label for="evidence" class="btn btn-info">Choose Files</label>
                  </div>
                  <div class="col-md-9">
                    <div *ngFor="let file of uploadFiles"><a>{{file.name}}</a> <br /></div>
                  </div>
                </mat-card>
              </div>
              <mat-card>
                <div class="row" formArrayName="paraFinancialImplications">
                  <div class="col-md-11">
                    <b>Financial Implications: </b>
                    <mat-card>
                      <table>
                        <thead>
                          <tr>
                            <th>
                              Financial Implication Case
                            </th>
                            <th>
                              Amount
                            </th>
                            <th>
                              Remarks
                            </th>
                            <th>
                              Action
                            </th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let impli of paraFinancialImplications.controls; index as i" [formGroupName]="i">
                          <tr *ngIf="impli.value.isActive && !impli.value.isDeleted">
                            <td>
                              <mat-form-field class="wid-100">
                                <mat-select placeholder="Select Financial Implication Case" formControlName="financialImplicationCaseId">
                                  <mat-option *ngFor="let case of allFinancialImplicationCases" [value]="case.financialImplicationCaseId">{{case.financialImplicationCase}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </td>
                            <td>
                              <mat-form-field class="wid-100">
                                <input matInput placeholder="Amount" blank-space-directive formControlName="amount" />
                              </mat-form-field>
                            </td>
                            <td>
                              <mat-form-field class="wid-100">
                                <input matInput placeholder="Remarks" blank-space-directive formControlName="remarks" />
                              </mat-form-field>
                            </td>
                            <td>
                              <a class="material-icons i-delete" matTooltip="Delete" (click)="deleteFinancialImplication(impli, i)">delete</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </mat-card>
                  </div>
                  <div class="col-md-1">
                    <button class="btn btn-info pull-right" (click)="addFinancialImplication()">+ Add Row</button>
                  </div>
                </div>
              </mat-card>
            </div>
          </mat-card>
        </div>
      </div>
    </form>
  </div>
</div>
