<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Pending Tasks</strong>
      </div>
      <div class="card-body card-block">
        <table class="mat-elevation-z8 even-odd-color" border="1" width="100%" *ngIf="pendingTaskCount">
          <thead>
            <tr class="row-height">
              <th>
                Task List
              </th>
              <th>
                Pending Task
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="row-height">
              <td>
                Verify Annual Audit Plan
              </td>
              <td>
                {{pendingTaskCount.annualPlanCount}}
              </td>
              <td>
                <button class="material-icons i-edit btn btn-error" matTooltip="Edit" [routerLink]="['../verify-annual-audit-plan']" [disabled]="pendingTaskCount.annualPlanCount == 0">edit</button><!--[disabled]="pendingTaskCount.annualPlanCount == 0"-->
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Verify Quarterly Audit Plan
              </td>
              <td>
                {{pendingTaskCount.quarterlyPlanCount}}
              </td>
              <td>
                <button class="material-icons i-edit btn btn-error" matTooltip="Edit" [routerLink]="['../verify-quarterly-plan']" [disabled]="pendingTaskCount.quarterlyPlanCount == 0">edit</button><!--[disabled]="pendingTaskCount.quarterlyPlanCount == 0"-->
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Verify Audit Schedule
              </td>
              <td>
                {{pendingTaskCount.auditScheduleCount}}
              </td>
              <td>
                <button class="material-icons i-edit btn btn-error" matTooltip="Edit" [routerLink]="['../verify-audit-schedule']" [disabled]="pendingTaskCount.auditScheduleCount == 0">edit</button><!--[disabled]="pendingTaskCount.auditScheduleCount == 0"-->
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Verify Audit Team
              </td>
              <td>
                {{pendingTaskCount.auditTeamCount}}
              </td>
              <td>
                <button class="material-icons i-edit btn btn-error" matTooltip="Edit" [routerLink]="['../verify-audit-team']" [disabled]="pendingTaskCount.auditTeamCount == 0">edit</button><!--[disabled]="pendingTaskCount.auditTeamCount == 0"-->
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Verify Entry Conference
              </td>
              <td>
                {{pendingTaskCount.entryConferenceCount}}
              </td>
              <td>
                <button class="material-icons i-edit btn btn-error" matTooltip="Edit" [routerLink]="['../verify-entry-conference']" [disabled]="pendingTaskCount.entryConferenceCount == 0">edit</button><!--[disabled]="pendingTaskCount.entryConferenceCount == 0"-->
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Verify Exit Conference
              </td>
              <td>
                {{pendingTaskCount.exitConferenceCount}}
              </td>
              <td>
                <button class="material-icons i-edit btn btn-error" matTooltip="Edit" [routerLink]="['../verify-exit-conference']" [disabled]="pendingTaskCount.exitConferenceCount == 0">edit</button><!--[disabled]="pendingTaskCount.exitConferenceCount == 0"-->
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Verify Para Report
              </td>
              <td>
                {{pendingTaskCount.paraReportCount}}
              </td>
              <td>
                <button class="material-icons i-edit btn btn-error" matTooltip="Edit" [routerLink]="['../verify-audit-para']" [disabled]="pendingTaskCount.paraReportCount == 0">edit</button><!--[disabled]="pendingTaskCount.paraReportCount == 0"-->
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Verify Compliance Report
              </td>
              <td>
                {{pendingTaskCount.complianceReportCount}}
              </td>
              <td>
                <button class="material-icons i-edit btn btn-error" matTooltip="Edit" [routerLink]="['../verify-audit-compliance']" [disabled]="pendingTaskCount.complianceReportCount == 0">edit</button><!--[disabled]="pendingTaskCount.complianceReportCount == 0"-->
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Verify Para Settlement Letter
              </td>
              <td>
                {{pendingTaskCount.paraSettlementCount}}
              </td>
              <td>
                <button class="material-icons i-edit btn btn-error" matTooltip="Edit" [routerLink]="['../verify-settlement-letter']" [disabled]="pendingTaskCount.paraSettlementCount == 0">edit</button> <!--[disabled]="pendingTaskCount.paraSettlementCount == 0"-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

