<div class="card left-brd-pink">
  <div class="card-header pink">
    <strong class="card-title">Audit Report List</strong>
  </div>
  <div class="card-body card-block">
    <mat-form-field>
      <input matInput (keyup)="applyFilter()" [(ngModel)]="searchTerm" placeholder="Search" blank-space-directive>
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color" *ngIf="totalCount > 0">

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="PeriodOfUnit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Period of Unit</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.auditFromDate | date: 'dd/MM/yyyy'}} to {{element.auditToDate | date: 'dd/MM/yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="AuditIntimationDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Audit Intimation Date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.auditIntimationDate | date: 'dd/MM/yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a class="material-icons i-edit" matTooltip="Edit" (click)="navigateToReportDetail(element)" [routerLink]="['../audit-report-detail']">edit</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator #paginator [pageSize]="pageSize" [ngStyle]="{display: totalCount > 0 ? 'block' : 'none'}" [length]="totalCount" [pageSizeOptions]="[10, 20, 50]" (page)="getPaginationData($event)" showFirstLastButtons></mat-paginator>

    <mat-toolbar color="warning" class="record-not-found" *ngIf="totalCount == 0">Record not found</mat-toolbar>
  </div>
</div>




