h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.left-margin-finYear{
  margin-left:20px;
}

.drag-active {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.drag-over {
  background-color: #eee;
}
table tr.highlight {
  background-color: #4CAF50 !important;
  color: #4CAF50;
}
