<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header">
        <div class="row">
          <div class="col-md-7">
            <form>
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="wid-50">
                    <mat-select matInput placeholder="Select Financial Year" [(ngModel)]="selectedFinYearId" [ngModelOptions]="{standalone: true}" (selectionChange)="getQuartersList()">
                      <mat-option *ngFor="let finYear of financialYears" [value]="finYear.financialYearId">{{finYear.financialYear}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="wid-100">
                    <mat-select matInput placeholder="Select Quarter" [(ngModel)]="selectedQuarter" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let quar of quarters" [value]="quar.Id">{{quar.Desc}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-1">
                  <button class="btn btn-info mt-10" (click)="getScheduledAudits()">Go</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-5">
            <button class="btn btn-info pull-right mt-10" (click)="dialog.open(showForwardToSupervisorPopup)" [disabled]="disableForwardToSupervisorButton">Forward to Supervisor</button>
            <button class="btn btn-secondary pull-right btn-width mt-10" (click)="reset()" [disabled]="unassignedEvents.length == 0 && events.length == 0">Reset</button>
            <button class="btn btn-info pull-right btn-width mt-10" (click)="save()" [disabled]="unassignedEvents.length == 0 && events.length == 0">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-6">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Schedule List</strong>
      </div>
      <mat-card>
        <mat-tab-group mat-align-tabs="center" *ngIf="unassignedEvents.length > 0 || events.length > 0">
          <mat-tab label="Not Assigned Audits">
            <!--<form>
              <mat-form-field class="wid-100">
                <input matInput placeholder="Search..." (keyup)="filterPAO($event.target.value)" />
              </mat-form-field>
            </form>-->
            <table class="mat-elevation-z8 even-odd-color" border="1" width="100%" *ngIf="unassignedEvents.length > 0">
              <thead>
                <tr class="row-height">
                  <th>
                    PAO Code
                  </th>
                  <th>
                    PAO Name
                  </th>
                  <th>
                    Controller
                  </th>
                </tr>
              </thead>
              <tbody mwlDroppable (drop)="externalDrop($event.dropData.event)" dragOverClass="drag-over">
                <tr *ngFor="let pao of unassignedEvents" class="row-height" mwlDraggable [dropData]="{event: pao}" dragActiveClass="drag-active">
                  <td>
                    {{pao.meta.paoCode}}
                  </td>
                  <td>
                    {{pao.meta.paoName}}
                  </td>
                  <td>
                    {{pao.meta.controllerCode}}
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-tab>
          <mat-tab label="Assigned Audits">
            <!--<form>
              <mat-form-field class="wid-100">
                <input matInput placeholder="Search..." (keyup)="filterPAO($event.target.value)" />
              </mat-form-field>
            </form>-->
            <table class="mat-elevation-z8 even-odd-color" border="1" width="100%" *ngIf="events.length > 0">
              <thead>
                <tr class="row-height">
                  <th>
                    PAO Code
                  </th>
                  <th>
                    PAO Name
                  </th>
                  <th>
                    Controller
                  </th>
                  <th>
                    Schedule From Date
                  </th>
                  <th>
                    Schedule To Date
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Remark
                  </th>
                </tr>
              </thead>
              <tbody mwlDroppable (drop)="externalDrop($event.dropData.event)" dragOverClass="drag-over">
                <tr *ngFor="let pao of events" class="row-height" mwlDraggable [dropData]="{event: pao}" dragActiveClass="drag-active" (click)="selectSchedule(pao)" [ngClass]="{'highlight' : checkIfSelectedPAOExists(pao)}">
                  <td>
                    {{pao.meta.paoCode}}
                  </td>
                  <td>
                    {{pao.meta.paoName}}
                  </td>
                  <td>
                    {{pao.meta.controllerCode}}
                  </td>
                  <td>
                    {{pao.start | date: 'MMM dd, yyyy'}}
                  </td>
                  <td>
                    {{pao.end | date: 'MMM dd, yyyy'}}
                  </td>
                  <td>
                    {{pao.meta.status}}
                  </td>
                  <td>
                    <button *ngIf="pao.meta.rejectionRemark" class="btn btn-info" (click)="showRejectionRemark(pao.meta)">Show Remark</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Calendar</strong>
      </div>
      <mat-card>
        <div class="row text-center">
          <div class="col-md-4">
            <div class="btn-group">
              <!--<div class="btn btn-outline-secondary"
                   mwlCalendarToday
                   [(viewDate)]="viewDate">
                Today
              </div>-->
            </div>
          </div>
          <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
          <div class="col-md-4">
            <div class="btn-group">
              <button class="btn btn-info"
                      mwlCalendarPreviousView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()" [disabled]="previousBtnDisabled" (click)="disabledBtnClickEvent()">
                <i class="fa fa-chevron-left" title="Previous"></i>
              </button>
              <button class="btn btn-info"
                      mwlCalendarNextView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()" [disabled]="nextBtnDisabled" (click)="disabledBtnClickEvent()">
                <i class="fa fa-chevron-right" title="Next"></i>
              </button>
            </div>
          </div>
        </div>
        <br />
        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
                                   [viewDate]="viewDate"
                                   [events]="events"
                                   [refresh]="refresh"
                                   [activeDayIsOpen]="activeDayIsOpen"
                                   (dayClicked)="dayClicked($event.day)"
                                   (eventTimesChanged)="eventDropped($event)"
                                   (beforeViewRender)="beforeMonthViewRender($event)">
          </mwl-calendar-month-view>
          <!--<mwl-calendar-week-view *ngSwitchCase="CalendarView.Week"
                                  [viewDate]="viewDate"
                                  [events]="events"
                                  [refresh]="refresh"
                                  (eventClicked)="handleEvent('Clicked', $event.event)"
                                  (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day"
                                 [viewDate]="viewDate"
                                 [events]="events"
                                 [refresh]="refresh"
                                 (eventClicked)="handleEvent('Clicked', $event.event)"
                                 (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>-->
        </div>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #ChooseEndDatePopup>
  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Please select End Date </h4>
    <!-- Large input -->
    <div class="row" *ngIf="selectedEvent">
      <div class="col-md-4">
        <div class="md-form form-lg">
          <label for="inputLGEx">Pao Name : </label>
          {{currentPAOName}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form form-lg">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose End Date" (click)="picker.open()" [min]="selectedEvent.start" [ngModelOptions]="{standalone: true}" [(ngModel)]="choosenEndDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3">
        <button type="button" class="btn btn-info text-center pull-right" (click)="setEndDate()">OK</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #EditEventPopup>
  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Edit your Event</h4>
    <!-- Large input -->
    <div class="row" *ngIf="selectedEvent">
      <div class="col-md-4">
        <div class="md-form form-lg">
          <label for="inputLGEx">Pao Name : </label>
          {{selectedEvent.title}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form form-lg">
          <mat-form-field>
            <input matInput [matDatepicker]="picker3" placeholder="Choose Start Date" (click)="picker3.open()" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedEvent.start">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Choose End Date" (click)="picker1.open()" [min]="selectedEvent.start" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedEvent.end">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info text-center" (click)="setEditedDates()">Save</button>
        <button type="button" class="btn btn-secondary text-center" (click)="dialog.closeAll();">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #DeleteEventPopup>
  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Are you sure to delete this Event?</h4>
    <!-- Large input -->
    <div class="row" *ngIf="selectedEvent">
      <div class="col-md-12">
        <div class="md-form form-lg">
          <label for="inputLGEx">Pao Name : </label>
          {{selectedEvent.title}}
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-2">
        <button type="button" class="btn btn-info text-center" (click)="confirmDeleteEvent()">Yes</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-secondary text-center" (click)="dialog.closeAll();">No</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #showRemarkPopup>
  <div class="card-content panel panel-body panel-default" *ngIf="selectedRejectionRemark">
    <h3 class="card-title text-center">{{selectedRejectionRemark}}</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="dialog.closeAll();">OK</button>
    </div>
  </div>
</ng-template>

<ng-template #showForwardToSupervisorPopup>
  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Please Select a Supervisor </h4>
    <!-- Large input -->
    <div class="row">
      <div class="col-md-8">
        <div class="md-form form-lg">
          <mat-form-field class="wid-100" style="margin-top:-100px">
            <mat-select matNativeControl placeholder="Select Supervisor" [(ngModel)]="selectedSupervisorId">
              <mat-option *ngFor="let supervisor of supervisorsList" [value]="supervisor.roleUserMapID">{{supervisor.empName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-info text-center" (click)="forwardToSupervisor(17)">Send</button>
       
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-secondary text-center" (click)="dialog.closeAll();">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>
