<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Enter Risk Category / Sub Category Details</strong>
      </div>
      <div class="card-body card-block">
        <form class="form-horizontal form-bordered striped-rows" (ngSubmit)="frmriskDetails.valid && SaveRiskCategory();" #frmriskDetails="ngForm" novalidate>
          <!---->
          <input type="text" name="someData" [(ngModel)]="hdnCategoryId" style="display: none;" />
          <!--<input type="text" name="someData" [(ngModel)]="hdnMenuId" style="display: none;" />-->
          <div class="form-group row">
            <div class="col-md-3">
              <div class="select-cat mt-4">
                <mat-radio-group name="selType" [(ngModel)]="selrdType">
                  <mat-radio-button value="Category" (click)="HideandShowradio('C')">Category</mat-radio-button>
                  <mat-radio-button value="SubCategory" (click)="HideandShowradio('S')">Sub Category</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-md-3" *ngIf="isHideShowDDL">
              <mat-form-field class="wid-100 mt-1">
                <mat-select placeholder="Select Category" [(ngModel)]="MstCategoryDetails.category" required name="Category" #category="ngModel" [disabled]="Ishowhide">

                  <mat-option>
                    <ngx-mat-select-search [formControl]="CategoryFilterCtrl" [placeholderLabel]="'Find Category...'" [noEntriesFoundLabel]="'Category is not found'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of filteredCategory |async " [value]="item.riskCategoryID">
                    <!--[disabled]="Ishowhide"-->
                    {{item.riskCategoryName}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <span *ngIf="category.invalid">Special character are not allowed </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <div class="enter-name">
                <mat-form-field class="wid-100 mt-1">
                  <!--appearance="outline"-->

                  <input matInput placeholder="Enter Name" required [(ngModel)]="MstCategoryDetails.riskCategoryName" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" autocomplete="off" name="riskCategoryName" #riskCategoryName="ngModel" [disabled]="Ishowhide"><!--required  #empName="ngModel"-->
                  <mat-error>
                    <span *ngIf="riskCategoryName.invalid">Special character are not allowed</span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3 last-div">
              <mat-form-field class="wid-100 mt-1">
                <textarea rows="1" matInput placeholder="Enter Description" required [(ngModel)]="MstCategoryDetails.riskCategoryDesc" autocomplete="off" name="riskCategoryDesc" #riskCategoryDesc="ngModel"></textarea><!--pattern="^[a-zA-Z][a-zA-Z0-9 ]+$"-->

                <mat-error>
                  <span *ngIf="riskCategoryDesc.invalid">Special character are not allowed </span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-2"></div>


            <div class="col-md-2"></div>
          </div>

          <div class="form-group text-center col-md-12 mt-4">
            <button type="submit" class="btn btn-info" [disabled]="!frmriskDetails.valid">{{btnUpdateText}}</button>
            &nbsp;
            <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Risk Category List</strong>
      </div>
      <div class="card-body card-block">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" [(ngModel)]="searchTerm" placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>

        <mat-table [dataSource]="ArrCategoryDetailDataSource" matSort class="mat-elevation-z8 even-odd-color">
          <ng-container matColumnDef="riskCategoryName" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sub Category </mat-header-cell>
            <mat-cell *matCellDef="let element" >{{ element.riskCategoryName }} </mat-cell>

          </ng-container>

          <ng-container matColumnDef="parentCategoryName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>  Category </mat-header-cell>
            <mat-cell *matCellDef="let element ; let i = index;">{{element.parentCategoryName }}  </mat-cell>
          </ng-container>

          <ng-container matColumnDef="riskCategoryDesc">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Category Desc </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.riskCategoryDesc }} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a class="material-icons i-edit" matTooltip="Edit" *ngIf="element.isActive" (click)="UpdateFillForm(element.riskCategoryID,element.riskCategoryName,element.riskCategoryDesc,element.parentRiskCategoryID);onEdit();">edit</a>
              <mat-slide-toggle [checked]="element.isActive" (change)="ActiveDeactiveFillPopUp(element.riskCategoryID,element.isActive);ActivateCategory=!ActivateCategory" matTooltip="Activate/deactivate" color="primary"></mat-slide-toggle>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <div [hidden]="notFound">
          <font color="red">Data Not Found...</font>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
<app-dialog [(visible)]="ActivateCategory">
  <form (ngSubmit)="ActiveDeactiveUsercategory();">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">{{ActiveDactiveHeaderText}}</h3>
      <div class="form-group text-center col-md-12">
        <button type="submit" class="btn btn-info">Yes</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="CancelPopUp();">Cancel</button>
      </div>
    </div>
  </form>
</app-dialog>
<!--<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img height="70px" width="70px" src="~/../assets/Loder12.gif">
</div>-->
