<li *ngIf="item" [ngClass]="{'active': item && item.route ? router.isActive(item.route, true): false}" style="padding-left:10px">
  <a (click)="onItemSelected(item)" class="dropdown-toggle">
    <i class="menu-icon fa fa-cogs"></i>
    {{item.displayName}}
    <i class="fa fa-chevron-down" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'" *ngIf="item.children && item.children.length">
    </i>
  </a>
</li>
<ul class="sub-menu children" *ngIf="expanded" style="padding-left: 30px">
  <app-nav-menu *ngFor="let child of item.children" [item]="child" [ngClass]="{'menu-item-has-children dropdown': child && child.children.length > 0, 'menu-item-parent': child && child.children.length == 0}"></app-nav-menu>
</ul>

