<div class="row">
  <div class="col-md-12 col-lg-12" *ngIf="paraSettlementLetterDetails">
    <div class="card left-brd-pink">
      <!--<button class="btn btn-info pull-right btn-fullwidth " [routerLink]="['../pending-auditee']">Back To Pending Auditee</button>-->
      <div class="card-header pink">
        <button class="btn btn-info pull-right" [disabled]="paraSettlementLetterDetails.auditParaSettlementLetterId == 0" (click)="forward(2)" *ngIf="roleId == 6 && (paraSettlementLetterDetails.statusId == 5 || paraSettlementLetterDetails.statusId == 1)">Forward to Audit Head</button>
        <button class="btn btn-info pull-right" (click)="forward(3)" *ngIf="roleId == 5 && paraSettlementLetterDetails.statusId == 2">Forward to Audit Supervisor</button>
        <button class="btn btn-secondary pull-right" (click)="RejectPopUp = true" *ngIf="roleId == 5 && paraSettlementLetterDetails.statusId == 2">Reject and Send back to DH</button>
        <!--<h2><u>{{selectedAudit.name}}</u></h2>-->
        <strong class="card-title"><h2>{{selectedAudit.name}}</h2></strong>
      </div>


      <div *ngIf="roleId != 6">
        <mat-card *ngIf="paraSettlementLetterDetails.auditParaSettlementLetterId > 0">
          <div class="row">
            <div class="col-md-9" style="word-wrap:break-word">
              <b>No. {{paraSettlementLetterDetails.letterNumber}}</b>
            </div>
            <div class="col-md-3">
              <b>Dated: {{paraSettlementLetterDetails.letterDate | date: 'dd/MM/yyyy'}}</b>
            </div>
          </div><br />
          <div class="row">
            <div class="col-md-3">
              <b>To,</b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4" style="word-wrap:break-word">
              <div innerHTML="{{paraSettlementLetterDetails.letterTo}}"></div>
              <b></b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><b><u>Subject</u>: </b></div>
            <div class="col-md-11" style="word-wrap:break-word"><div innerHTML="{{paraSettlementLetterDetails.letterSubject}}"></div></div>
          </div>
          <div class="row">
            <div class="col-md-12" style="word-wrap:break-word">
              <div innerHTML="{{paraSettlementLetterDetails.letterContent}}"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4" style="word-wrap:break-word">
              <b>Yours Faithfully,</b><br />
              <div innerHTML="{{paraSettlementLetterDetails.letterFrom}}"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><b><u>Copy To:-</u></b></div><br />
            <div class="col-md-10" style="word-wrap:break-word"><div innerHTML="{{paraSettlementLetterDetails.letterCopyTo}}"></div></div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  </div>
<app-dialog [(visible)]="RejectPopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Reject this Para Settlement Letter?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput placeholder="Rejection Remark" [(ngModel)]="rejectionRemark" maxlength="200"></textarea>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="forward(5)">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-warning" (click)="RejectPopUp = false">Cancel</button>
    </div>
  </div>
</app-dialog>
