<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <label class="mt-1"><i class="fas fa-info-circle mr-2" style="color: #bf5f82;"></i><i>Drag and drop the selected Audit Supervisor</i></label>
        <button class="btn btn-info pull-right btn-width" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Employee List</strong>
      </div>
      <div class="card-body card-block">
        <mat-form-field class="wid-50">
          <input matInput placeholder="Search..." [(ngModel)]="searchTerm" (keyup)="filterEmployees()" blank-space-directive>
        </mat-form-field>
        <div cdkDropList [cdkDropListData]="filteredEmployees"
             [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList"
             (cdkDropListDropped)="unAssignedDrop($event)">
          <table class="mat-elevation-z8 even-odd-color mat-table" border="1">
            <thead>
              <tr class="row-height">
                <th>Name</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Mobile</th>
              </tr>
            </thead>
            <tbody style="width: 30%">
              <tr *ngFor="let emp of filteredEmployees" class="pop row-height" cdkDrag>
                <td>
                  {{emp.empName}}
                </td>
                <td>
                  {{emp.designation}}
                </td>
                <td>
                  {{emp.email}}
                </td>
                <td>
                  {{emp.phoneNo}}
                </td>
                <td>
                  {{emp.mobileNo}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Assigned as Audit Supervisor</strong>
      </div>
      <div class="card-body card-block">
        <div cdkDropList [cdkDropListData]="selectedEmployees"
              [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList"
              (cdkDropListDropped)="assignedDrop($event)" style="margin-bottom:10px">
          <table class="mat-elevation-z8 even-odd-color" border="1">
            <thead>
              <tr class="row-height">
                <th>Name</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Mobile</th>
              </tr>
            </thead>
            <tbody style="width: 30%">
              <tr *ngFor="let emp of selectedEmployees" class="pop row-height" cdkDrag>
                <td>
                  {{emp.empName}}
                </td>
                <td>
                  {{emp.designation}}
                </td>
                <td>
                  {{emp.email}}
                </td>
                <td>
                  {{emp.phoneNo}}
                </td>
                <td>
                  {{emp.mobileNo}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>





