<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">{{selectedAudit.name}}</strong>
        <button class="btn btn-info pull-right" *ngIf="roleId == 6 && exitConferenceDetails && (exitConferenceDetails.statusId == 1 || exitConferenceDetails.statusId == 3 || exitConferenceDetails.statusId == 6)" (click)="updateStatus(2)">Forward to Audit Head</button>
        <button class="btn btn-secondary pull-right" *ngIf="roleId == 5 && exitConferenceDetails && exitConferenceDetails.statusId == 2" (click)="RejectPopUp = true;">Reject</button>
        <button class="btn btn-info pull-right" *ngIf="roleId == 5 && exitConferenceDetails && exitConferenceDetails.statusId == 2" (click)="updateStatus(4)">Forward to Audit Supervisor</button>
      </div>
    </div>
  </div>
</div>

<div class="row pending-audit" *ngIf="roleId == 6">
  <div class="col-md-6">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Update Exit Conference Details</strong>
      </div>
      <div class="card-body card-block">
        <form [formGroup]="exitConferenceForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="wid-100">
            <b>Exit Conference Date: </b>
            <input matInput formControlName="conferenceDate" [min]="auditFromDate" [max]="auditToDate" [matDatepicker]="picker7" (click)="picker7.open()" [disabled]="saveButtonDisabled" style="margin-top:20px" class="textbox-margin" />
            <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
            <mat-datepicker #picker7></mat-datepicker>
            <mat-error>Conference Date Required!</mat-error>
          </mat-form-field>
          <b>Topic of Discussion: </b>
          <div class="ckeditor-margin">
            <ckeditor [config]="{ removePlugins: [ 'Link', 'ImageUpload', 'MediaEmbed' ] }" class="ckeditor-margin" [editor]="Editor" formControlName="agenda" [disabled]="saveButtonDisabled"></ckeditor>
            <mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.agenda.errors && exitConferenceForm.controls.agenda.errors.required == true">Topic of Discussion Required!</mat-error>
          </div>
          <!--<mat-form-field class="wid-100">
            <textarea matInput placeholder="Topic of Discussion" formControlName="agenda"></textarea>
            <mat-error>Topic of Discussion Required!</mat-error>
          </mat-form-field>-->
          <b>Decision: </b>
          <div class="ckeditor-margin">
            <ckeditor [config]="{ removePlugins: [ 'Link', 'ImageUpload', 'MediaEmbed' ] }" [editor]="Editor" formControlName="decision" [disabled]="saveButtonDisabled"></ckeditor>
            <mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.decision.errors && exitConferenceForm.controls.decision.errors.required == true">Decision Required!</mat-error>
          </div>
          <!--<mat-form-field class="wid-100">
            <textarea matInput placeholder="Topic of Discussion" formControlName="agenda"></textarea>
            <mat-error>Topic of Discussion Required!</mat-error>
          </mat-form-field>-->
          <mat-form-field class="wid-100">
            <b>Select Attendees: </b>
            <mat-select multiple matInput [(ngModel)]="selectedAuditTeam" [ngModelOptions]="{standalone: true}" [disabled]="saveButtonDisabled" class="textbox-margin">
              <mat-option *ngFor="let emp of auditTeam" [value]="emp">{{emp.empName}} ({{emp.designationName}})</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="btn btn-info btn-width" type="submit" [disabled]="saveButtonDisabled">Save</button>
        </form>
      </div>
    </div>
    <div class="card left-brd-pink" *ngIf="exitConferenceDetails && exitConferenceDetails.rejectionRemark">
      <div class="card-header">
        <div class="row">
          <div class="col-md-3">
            <b>Rejection Reason:</b>
          </div>
          <div class="col-md-9">
            <span>{{exitConferenceDetails.rejectionRemark}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Exit Conference Details:</strong>
        <a class="material-icons i-edit pull-right" matTooltip="Edit" (click)="editExitConference()" *ngIf="exitConferenceDetails && (exitConferenceDetails.statusId == 1 || exitConferenceDetails.statusId == 3 || exitConferenceDetails.statusId == 6)" title="Edit">edit</a>
      </div>
      <div class="card-body card-block selected-pao-list">
        <mat-card class="mat-card-margin" *ngIf="exitConferenceDetails">
          <div class="row">
            <div class="col-md-4">
              <b>Exit Conference Date:</b>
            </div>
            <div class="col-md-8">
              <span>{{exitConferenceDetails.conferenceDate | date: 'dd/MM/yyyy'}} </span>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <b>Auditor Team:</b>
            </div>
            <div class="col-md-8">
              <span><div *ngFor="let emp of exitConferenceDetails.participants"><label *ngIf="emp.roleId == 5 || emp.roleId == 6">{{emp.empName}} ({{emp.designationName}})</label> </div></span>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <b>Auditee Team:</b>
            </div>
            <div class="col-md-8">
              <span> <div *ngFor="let emp of exitConferenceDetails.participants"><label *ngIf="emp.roleId == 7 || emp.roleId == 8">{{emp.empName}} ({{emp.designationName}})</label> </div></span>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <b>Topic of Discussion:</b>
            </div>
            <div class="col-md-8">
              <div style="word-wrap:break-word" innerHTML="{{exitConferenceDetails.agenda}}"></div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <b>Decision:</b>
            </div>
            <div class="col-md-8">
              <div style="word-wrap:break-word" innerHTML="{{exitConferenceDetails.decision}}"></div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="roleId != 6">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Exit Conference Details:</strong>
      </div>
      <div class="card-body card-block selected-pao-list">
        <mat-card class="mat-card-margin" *ngIf="exitConferenceDetails">
          <div class="row">
            <div class="col-md-4">
              <b>Exit Conference Date:</b>
            </div>
            <div class="col-md-8">
              <span>{{exitConferenceDetails.conferenceDate | date: 'dd/MM/yyyy'}} </span>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <b>Auditor Team:</b>
            </div>
            <div class="col-md-8">
              <span><div *ngFor="let emp of exitConferenceDetails.participants"><label *ngIf="emp.roleId == 5 || emp.roleId == 6">{{emp.empName}} ({{emp.designationName}})</label> </div></span>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <b>Auditee Team:</b>
            </div>
            <div class="col-md-8">
              <span> <div *ngFor="let emp of exitConferenceDetails.participants"><label *ngIf="emp.roleId == 7 || emp.roleId == 8">{{emp.empName}} ({{emp.designationName}})</label> </div></span>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <b>Topic of Discussion:</b>
            </div>
            <div class="col-md-8">
              <div style="word-wrap:break-word" innerHTML="{{exitConferenceDetails.agenda}}"></div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <b>Decision:</b>
            </div>
            <div class="col-md-8">
              <div style="word-wrap:break-word" innerHTML="{{exitConferenceDetails.decision}}"></div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<app-dialog [(visible)]="RejectPopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Reject this Exit Conference?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput placeholder="Rejection Remark" [(ngModel)]="rejectionRemark" maxlength="200"></textarea>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateStatus(3)">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="RejectPopUp = false">Cancel</button>
    </div>
  </div>
</app-dialog>
