<div class="col-md-12 col-lg-12">
  <label class="pull-right"><i class="material-icons">wb_incandescent</i>Search the PAO and drag to Annual Audit list</label>
</div>
<form (ngSubmit)="fraudiquartlytDetails.valid && SaveQuartalyAudit();" #fraudiquartlytDetails="ngForm" novalidate>
  <div class="col-md-12 col-lg-12">

    <div class="col-md-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Select Financial Year" [(ngModel)]="mstauditFYear.financialYearId" name="financialYearId" #financial="ngModel" required (selectionChange)="bindAuditInGrid($event.value)">
          <mat-option>
            <ngx-mat-select-search [formControl]="YearFilterCtrl" [placeholderLabel]="'Find Financial Year...'" [noEntriesFoundLabel]="'Financial Year is not found'"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let item of filteredYear |async " [value]="item.financialYearId">
            {{item.financialYear}}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="financial.invalid">select Financial Year</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="wid-50">
        <mat-select matInput placeholder="Select Quarter" [(ngModel)]="mstauditFYear.Quarter" #financial="ngModel" required name="Quarter">
          <!--[ngModelOptions]="{standalone: true}"-->
          <mat-option value="Q1">Q1</mat-option>
          <mat-option value="Q2">Q2</mat-option>
          <mat-option value="Q3">Q3</mat-option>
          <mat-option value="Q4">Q4</mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="financial.invalid">Select Quarter</span>
        </mat-error>
      </mat-form-field>
    </div>
    <!--<div class="col-md-2">
      <button class="btn btn-success pull-right btn-width" (click)="getSelectedValue();">Save Audit</button>
    </div>-->
  </div>


  <mat-card>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="even-odd-color tabel-form wid-100 tabel-wraper tbl-input">
      <tr class="table-head">
        <ng-container matColumnDef="paoCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PAO Code</th>
          <td mat-cell *matCellDef="let element"> {{element.paoCode}} </td>
        </ng-container>
        <ng-container matColumnDef="paoName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PAO Name</th>
          <td mat-cell *matCellDef="let element"> {{element.paoName}} </td>
        </ng-container>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
    </table>
    <div [hidden]="notFound">
      <font color="red">Data Not Found...</font>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </mat-card>
  <div class="col-md-12 col-lg-12 pading-16 text-center mb-20">

    <button class="btn btn-labeled btn-info add-list  text-center" style="cursor:pointer;"type="button" (click)="getSelectedValue();">
      <span class="btn-label"><i class="glyphicon glyphicon-arrow-down"></i></span>Add to list
    </button>

  </div>


  <!--Unselected-->
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Search"><!--(keyup)="applyFilter($event.target.value)"-->
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="selecteddataSource" matSort class="even-odd-color tabel-form wid-100 tabel-wraper tbl-input">
      <tr class="table-head">
        <ng-container matColumnDef="paoCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PAO Code</th>
          <td mat-cell *matCellDef="let element"> {{element.paoCode}} </td>
        </ng-container>
        <ng-container matColumnDef="paoName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PAO Name</th>
          <td mat-cell *matCellDef="let element"> {{element.paoName}} </td>
        </ng-container>


        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? UnmasterToggle() : null"
                          [checked]="unselection.hasValue() && UnisAllSelected()"
                          [indeterminate]="unselection.hasValue() && !UnisAllSelected()"
                          [aria-label]="UncheckboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? unselection.toggle(row) : null"
                          [checked]="unselection.isSelected(row)"
                          [aria-label]="UncheckboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
    </table>
    <div [hidden]="notFound">
      <font color="red">Data Not Found...</font>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </mat-card>

  <div class="col-md-12 col-lg-12 pading-16 text-center mb-20">
    <button class="btn btn-labeled btn-info add-list  text-center" [disabled]="!fraudiquartlytDetails.valid" type="submit" style="cursor:pointer;">
      <!--(click)="SaveQuartalyAudit();"-->
      Save Quartaly Audit
    </button>
    <button class="btn btn-labeled btn-warning add-list  text-center" style="cursor:pointer;" type="button" (click)="RemoveSelectedValue();">
      <span class="btn-label"><i class="glyphicon glyphicon-arrow-up"></i></span>Remove to list
    </button>

  </div>


</form>

