<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">{{selectedAudit.name}}</strong>
        <button class="btn btn-info pull-right btn-width" [routerLink]="['../../audit-para-create']" *ngIf="roleId == 6">+ Add Para</button>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-12">

    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Audit Para List</strong>
      </div>
      <div class="card-body card-block">
        <mat-form-field>
          <input matInput (keyup)="applyFilter()" [(ngModel)]="searchTerm" placeholder="Search" blank-space-directive>
          <i class="material-icons icon-right">search</i>
        </mat-form-field>
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color" *ngIf="totalCount > 0">

          <ng-container matColumnDef="ParaTitle">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Para Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ObservationType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Observation Type</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.riskCategoryName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="RiskLevel">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Risk Level</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.severity}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a class="material-icons i-edit" matTooltip="Edit" [routerLink]="['../../audit-para-detail/' , element.paraId]">edit</a>
              <a class="material-icons i-delete" matTooltip="Delete" (click)="deletePopUp=true;selectPara(element)" *ngIf="roleId == 6">delete</a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator #paginator [pageSize]="pageSize" [ngStyle]="{display: totalCount > 0 ? 'block' : 'none'}" [length]="totalCount" [pageSizeOptions]="[10, 20, 50]" (page)="getPaginationData($event)" showFirstLastButtons></mat-paginator>

        <mat-toolbar color="warning" class="record-not-found" *ngIf="totalCount == 0">Record not found</mat-toolbar>
      </div>
    </div>

  </div>
</div>
<app-dialog [(visible)]="deletePopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Delete this Para?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="deletePara()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-warning" (click)="deletePopUp = false">Cancel</button>
    </div>
  </div>
</app-dialog>
