<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Create Annual Plan </strong>
      </div>
      <div class="card-body card-block">
        <form class="form-horizontal form-bordered striped-rows" (ngSubmit)="frauditDetails.valid && assignAuditByController();" #frauditDetails="ngForm" novalidate>
          <div class="row">
            <div class="col-md-2">
              <mat-form-field class="wid-100">
                <mat-select placeholder="Select Financial Year" [(ngModel)]="FYear" name="FYear" #selectFyear="ngModel" required (selectionChange)="getAllAudit($event.value)">
                  <!--(selectionChange)="getAllAudit($event.value)"-->

                  <mat-option>
                    <ngx-mat-select-search [formControl]="YearFilterCtrl" [placeholderLabel]="'Find Financial Year...'" [noEntriesFoundLabel]="'Financial Year is not found'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of filteredYear |async " [value]="item.financialYearId">
                    {{item.financialYear}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <span *ngIf="selectFyear.invalid">select Financial Year</span>
                </mat-error>

              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="wid-100">
                <mat-select placeholder="Select Controller" [(ngModel)]="Controller" name="Controller" #modelController="ngModel" required (selectionChange)="getAllPAO($event.value)">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="ControllerFilterCtrl" [placeholderLabel]="'Find Controller Year...'" [noEntriesFoundLabel]="'Controller is not found'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let i of filteredController |async " [value]="i.controllerCode">
                    {{i.controllerName}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <span *ngIf="modelController.invalid">select controller</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="wid-100">
                <mat-select placeholder="Select PAO" [(ngModel)]="PAOData" name="PAOData" required #PAODatamodel="ngModel" (selectionChange)="setvaluePaoID($event.value)">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="PAOFilterCtrl" [placeholderLabel]="'Find PAO...'" [noEntriesFoundLabel]="'PAO is not found'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of filteredPAO |async " [value]="item.paoId">
                    {{item.paoName}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <span *ngIf="PAODatamodel.invalid">Select PAO</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Enter Reason" cols="40" rows="1" spellcheck="false" [(ngModel)]="paoreason" name="paoreason" required pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" #reason="ngModel"></textarea><!--pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" autocomplete="off"  #paoreason="ngModel"-->
                <mat-error>
                  <span *ngIf="reason.invalid">Special charector are not allowed </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <!--<button class="btn btn-success pull-right btn-width" (click)="assignAuditByController();">Add Audit</button>--><!--getAllAudit(FYear)(click)=""-->
              <button class="btn btn-info pull-right" [disabled]="isTableHasData" type="button" (click)="bindSupervisorDropDown();ForwardToSupervisorPopUp=!ForwardToSupervisorPopUp">Forward to Supervisor</button>
              <button class="btn btn-info pull-right btn-width" type="submit">Add PAO </button>

              <!--<button class="btn btn-labeled btn-success add-list  text-center" style="cursor:pointer;" type="button" [disabled]="isTableHasData" (click)="bindSupervisorDropDown();ForwardToSupervisorPopUp=!ForwardToSupervisorPopUp">
                Forward to supervisor
              </button>-->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Annual Plan List</strong>
      </div>
      <div class="card-body card-block">

        <div class="col-md-12 example-card mat-card">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" [(ngModel)]="TxtSearch" placeholder="Search">
            <i class="material-icons icon-right">search</i>
          </mat-form-field>

          <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color mat-table">
            <!-- Column -->
            <ng-container matColumnDef="paoName">
              <mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> PAO Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.paoName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="paoCode">
              <mat-header-cell *matHeaderCellDef mat-sort-header width="20%">PAO Code </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.paoCode}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="auditReason">
              <mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> Audit Reason </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> {{element.auditReason}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> Audit Status </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> {{element.auditStatus}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="rejectionRemark">
              <mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> Rejection Remark </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.rejectionRemark}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Actions">
              <mat-header-cell *matHeaderCellDef width="10%"> Actions </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a class="material-icons i-delet" matTooltip="Delete" (click)="setvaluePaoID(element.paoId);deactivatePAOAuditPopUp = !deactivatePAOAuditPopUp"> delete_forever </a>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <div [hidden]="notFound">
            <font color="red">Data Not Found...</font>
          </div>
          <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>


        </div>
      </div>
    </div>
  </div>
</div>

<app-dialog [(visible)]="deactivatePAOAuditPopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to unassign this audit?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="deactivateAudit()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="deactivatePAOAuditPopUp = !deactivatePAOAuditPopUp">Cancel</button>
    </div>
  </div>
</app-dialog>




<app-dialog [(visible)]="ForwardToSupervisorPopUp">
  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Please Select a Supervisor </h4>
    <!-- Large input -->
    <div class="row">
      <div class="col-md-8">
        <div class="md-form form-lg">
          <mat-form-field class="wid-100" style="margin-top:-100px">
            <mat-select matNativeControl placeholder="Select Supervisor" [(ngModel)]="supervisor">
              <mat-option *ngFor="let supervisor of arrSupervisor" [value]="supervisor.roleUserMapID">{{supervisor.empName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info" (click)="assignToSupervisor();Cancel();">Yes</button>
        &nbsp;
        <button type="button" class="btn btn-secondary" (click)="Cancel();ForwardToSupervisorPopUp = !ForwardToSupervisorPopUp">Cancel</button>
      </div>
    </div>
  </div>
</app-dialog>






