<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header">
        <div class="row">

          <div class="col-md-6">
            <form (ngSubmit)="frmempDetails.valid && getAllQuarterAudit();" #frmempDetails="ngForm" novalidate>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="wid-100">
                    <mat-select placeholder="Select Financial Year" required [(ngModel)]="mstFyear.financialYearId" name="financialYearId" #financialYearId="ngModel" (selectionChange)="getAllPendingQuarter($event.value)">
                      <!--(selectionChange)="getAllQuarterAudit($event.value)"-->
                      <mat-option>
                        <ngx-mat-select-search [formControl]="YearFilterCtrl" [placeholderLabel]="'Find Financial Year...'" [noEntriesFoundLabel]="'Financial Year is not found'"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let item of filteredYear |async " [value]="item.financialYearId">
                        {{item.financialYear}}
                      </mat-option>
                    </mat-select>
                    <mat-error>
                      <span *ngIf="financialYearId.invalid">Select Financial Year</span>
                    </mat-error>
                  </mat-form-field>

                </div>
                <div class="col-md-2" *ngIf="finnacialpendigRecord">
                  <mat-form-field class="wid-50">
                    <mat-select matInput placeholder="Select Quarter" required [(ngModel)]="mstFyear.selectedQuarter" name="selectedQuarter" #selectedQuarter="ngModel" [ngModelOptions]="{standalone: true}">
                      <!--<mat-option value="Q1">Q1</mat-option>
                      <mat-option value="Q2">Q2</mat-option>
                      <mat-option value="Q3">Q3</mat-option>
                      <mat-option value="Q4">Q4</mat-option>-->

                      <mat-option *ngFor="let item of quarters" [value]="item.Id">
                        {{item.Desc}}
                      </mat-option>
                    </mat-select>
                    <mat-error>
                      <span *ngIf="selectedQuarter.invalid">Select Quarter</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-1 mt-3">
                  <button   style="margin-left: 80px;" type="submit" *ngIf="finnacialpendigRecord" class="btn btn-info">Go</button>
                  <!--(click)="getAllQuarterAudit()"-->
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6" style="margin-top:15px;">
            <button class="btn btn-info pull-right" [disabled]="isTableHasData" (click)="bindSupervisorDropDown();ForwardToSupervisorPopUp=!ForwardToSupervisorPopUp">Forward to Supervisor</button>
            <button class="btn btn-secondary pull-right btn-width" (click)="rejectQuarterlyPopUp = !rejectQuarterlyPopUp" [disabled]="isTableHasData">Reject</button>
            <button class="btn btn-info pull-right btn-width" (click)="quarterlylplanApprove();" [disabled]="isTableHasData">Approve</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Audit Quarterly List</strong>
      </div>
      <div class="card-body card-block">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" [(ngModel)]="TxtSearch" placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>

        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color mat-table">
          <!-- Column -->
          <ng-container matColumnDef="paoCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="20%">PAO Code </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.paoCode}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="paoName">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> PAO Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.paoName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="quarter">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="20%">Quarter </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.quarter}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="auditReason">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> Audit Reason </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.auditReason}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.auditStatus}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div [hidden]="notFound">
          <font color="red">Data Not Found...</font>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  </div>
  <app-dialog [(visible)]="rejectQuarterlyPopUp">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure to reject the Quarterly Plan?</h3>
      <div class="form-group text-center col-md-12">

        <mat-form-field class="wid-100">
          <textarea matInput id="rejectreson" name="rejectreson" placeholder="Remark..." style="width:300px" rows="2" [(ngModel)]="rejectreson">
</textarea>
        </mat-form-field>
      </div>
      <div class="form-group text-center col-md-12">
        <button type="button" class="btn btn-info" (click)="rejectQuarterlyAudit(); rejectQuarterlyPopUp = false">Yes</button>
        &nbsp;
        <button type="button" class="btn btn-secondary" (click)="resettextarea();rejectQuarterlyPopUp = !rejectQuarterlyPopUp">Cancel</button>
      </div>
    </div>
  </app-dialog>

  <app-dialog [(visible)]="ForwardToSupervisorPopUp">
    <div class="card-content panel panel-body panel-default">
      <h4 class="card-title text-center">Please Select a Supervisor </h4>
      <!-- Large input -->
      <div class="row">
        <div class="col-md-8">
          <div class="md-form form-lg">
            <mat-form-field class="wid-100" style="margin-top:-100px">
              <mat-select matNativeControl placeholder="Select Supervisor" [(ngModel)]="supervisor">
                <mat-option *ngFor="let supervisor of arrSupervisor" [value]="supervisor.roleUserMapID">{{supervisor.empName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-info" (click)="supervisorTosupervisorQuarterlyPlan();Cancel()">Forward</button>
          &nbsp;
          <button type="button" class="btn btn-secondary" (click)="Cancel();ForwardToSupervisorPopUp = !ForwardToSupervisorPopUp">Cancel</button>
        </div>
      </div>
    </div>
  </app-dialog>
