<div class="row pending-audit" *ngIf="auditReport">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">{{selectedAudit.name}}</strong>
      </div>
      <div class="card-body card-block selected-pao-list">
        <mat-card class="mat-card-margin">
          <div class="row">
            <div class="col-md-2">
              <b>Tenure of Inspection:</b>
            </div>
            <div class="col-md-10">
              <span>{{selectedAudit.auditFromDate | date: 'dd/MM/yyyy'}} to {{selectedAudit.auditToDate | date: 'dd/MM/yyyy'}} </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <b>Intimation Date: </b>
            </div>
            <div class="col-md-10">
              <span>{{selectedAudit.auditIntimationDate | date: 'dd/MM/yyyy'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <b>Status: </b>
            </div>
            <div class="col-md-10">
              <span>{{selectedAudit.status}} </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <b>Auditor Team: </b>
            </div>
            <div class="col-md-10">
              <span><div *ngFor="let emp of auditTeam"><i *ngIf="emp.roleId == 5 || emp.roleId == 6">{{emp.empName}} ({{emp.designationName}})</i> </div> </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <b>Auditee Team: </b>
            </div>
            <div class="col-md-10">
              <span><div *ngFor="let emp of auditTeam"><i *ngIf="emp.roleId == 7 || emp.roleId == 8">{{emp.empName}} ({{emp.designationName}})</i> </div> </span>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <!--<div class="col-md-12 col-lg-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title"><u>{{selectedAudit.name}}</u></strong>
      </div>
      <div class="card-body card-block">
        <b>Tenure of Inspection: </b> {{selectedAudit.auditFromDate | date: 'dd/MM/yyyy'}} to {{selectedAudit.auditToDate | date: 'dd/MM/yyyy'}} <br />
        <b>Intimation Date: </b> {{selectedAudit.auditIntimationDate | date: 'dd/MM/yyyy'}} <br />
        <b>Status: </b> {{selectedAudit.status}} <br />
        <div class="row pink">
          <div class="col-md-6">
            <b>Auditor Team: </b>
            <div *ngFor="let emp of auditTeam"><label *ngIf="emp.roleId == 5 || emp.roleId == 6">{{emp.empName}} ({{emp.designationName}})</label> <br /> </div>
          </div>
          <div class="col-md-6">
            <b>Auditee Team: </b>
            <div *ngFor="let emp of auditTeam"><label *ngIf="emp.roleId == 7 || emp.roleId == 8">{{emp.empName}} ({{emp.designationName}})</label> <br /> </div>
          </div>
        </div>

      </div>
    </div>
  </div>-->
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Audit Observations</strong>
      </div>
      <div class="card-body card-block">
        <table class="mat-elevation-z8 even-odd-color" border="1" width="100%">
          <thead>
            <tr class="row-height">
              <th>
                Task
              </th>
              <th>
                Date
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="row-height">
              <td>
                Entry Conference
              </td>
              <td>
                <b *ngIf="auditReport.entryConferenceDate">{{auditReport.entryConferenceDate | date: 'dd/MM/yyyy'}}</b>
                <b *ngIf="!auditReport.entryConferenceDate">-</b>
              </td>
              <td>
                <a class="material-icons i-edit" matTooltip="Edit" *ngIf="auditReport.entryConferenceDate" (click)="assignAuditDetails()" [routerLink]="['../../audit-observation/entry-conference']">edit</a>
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Exit Conference
              </td>
              <td>
                <b *ngIf="auditReport.exitConferenceDate">{{auditReport.exitConferenceDate | date: 'dd/MM/yyyy'}}</b>
                <b *ngIf="!auditReport.exitConferenceDate">-</b>
              </td>
              <td>
                <a class="material-icons i-edit" matTooltip="Edit" *ngIf="auditReport.exitConferenceDate" (click)="assignAuditDetails()" [routerLink]="['../../audit-observation/exit-conference']">edit</a>
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Para Observations Details
              </td>
              <td>
                <b *ngIf="auditReport.paraCreatedDate">{{auditReport.paraCreatedDate | date: 'dd/MM/yyyy'}}</b>
                <b *ngIf="!auditReport.paraCreatedDate">-</b>
              </td>
              <td>
                <a class="material-icons i-edit" matTooltip="Edit" *ngIf="auditReport.paraCreatedDate" (click)="assignAuditDetails()" [routerLink]="['../../audit-observation/audit-para-list/all']">edit</a>
              </td>
            </tr>
            <tr class="row-height">
              <td>
                Para Settlement Letter
              </td>
              <td>
                <b *ngIf="auditReport.paraSettlementLetterDate">{{auditReport.paraSettlementLetterDate | date: 'dd/MM/yyyy'}}</b>
                <b *ngIf="!auditReport.paraSettlementLetterDate">-</b>
              </td>
              <td>
                <a class="material-icons i-edit" matTooltip="Edit" *ngIf="auditReport.paraSettlementLetterDate" (click)="assignAuditDetails()" [routerLink]="['../../audit-observation/para-settlement-letter']">edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="card left-brd-pink">
          <div class="card-header pink">
            <strong class="card-title">Details of the Audit conducted</strong>
          </div>
          <div class="card-body card-block">
            <table class="mat-elevation-z8 even-odd-color" border="1" width="100%">
              <tr class="row-height">
                <td>
                  No. of Paras Observed
                </td>
                <td>
                  <b>{{auditReport.totalParaCount}}</b>
                </td>
                <td>
                  <a class="material-icons i-edit" matTooltip="Edit" *ngIf="auditReport.paraCreatedDate" (click)="assignAuditDetails()" [routerLink]="['../../audit-observation/audit-para-list/all']">edit</a>
                </td>
              </tr>
              <tr class="row-height">
                <td>
                  No. of Paras Cleared
                </td>
                <td>
                  <b>{{auditReport.totalApprovedParaCount}}</b>
                </td>
                <td>
                  <a class="material-icons i-edit" matTooltip="Edit" *ngIf="auditReport.paraCreatedDate" (click)="assignAuditDetails()" [routerLink]="['../../audit-observation/audit-para-list/approved']">edit</a>
                </td>
              </tr>
              <tr class="row-height">
                <td>
                  No. of Paras partially cleared
                </td>
                <td>
                  <b>{{auditReport.totalPartialParaCount}}</b>
                </td>
                <td>
                  <a class="material-icons i-edit" matTooltip="Edit" *ngIf="auditReport.paraCreatedDate" (click)="assignAuditDetails()" [routerLink]="['../../audit-observation/audit-para-list/partially']">edit</a>
                </td>
              </tr>
              <tr class="row-height">
                <td>
                  No. of Paras not cleared
                </td>
                <td>
                  <b>{{auditReport.totalOpenParaCount}}</b>
                </td>
                <td>
                  <a class="material-icons i-edit" matTooltip="Edit" *ngIf="auditReport.paraCreatedDate" (click)="assignAuditDetails()" [routerLink]="['../../audit-observation/audit-para-list/open']">edit</a>
                </td>
              </tr>
              <tr class="row-height">
                <td>
                  Last Reply Date
                </td>
                <td>
                  <b *ngIf="auditReport.lastParaReplyDate">{{auditReport.lastParaReplyDate | date: 'dd/MM/yyyy'}}</b>
                  <b *ngIf="!auditReport.lastParaReplyDate">-</b>
                </td>
                <td>
                  <b>-</b>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card left-brd-pink">
          <div class="card-header pink">
            <strong class="card-title">Risk Category</strong>
          </div>
          <div class="card-body card-block">
            <table class="mat-elevation-z8 even-odd-color" border="1" width="100%">
              <thead>
                <tr class="row-height">
                  <th>
                    Risks
                  </th>
                  <th>
                    Number
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="row-height">
                  <td>
                    <b style="color:red">High Risk</b>
                  </td>
                  <td>
                    <b>{{auditReport.totalHighSeverityParas}}</b>
                  </td>
                  <td>
                    <a class="material-icons i-edit" matTooltip="Edit" *ngIf="auditReport.paraCreatedDate" (click)="assignAuditDetails()" [routerLink]="['../../audit-observation/audit-para-list/high']">edit</a>
                  </td>
                </tr>
                <tr class="row-height">
                  <td>
                    <b style="color:yellowgreen">Medium Risk</b>
                  </td>
                  <td>
                    <b>{{auditReport.totalMediumSeverityParas}}</b>
                  </td>
                  <td>
                    <a class="material-icons i-edit" matTooltip="Edit" *ngIf="auditReport.paraCreatedDate" (click)="assignAuditDetails()" [routerLink]="['../../audit-observation/audit-para-list/medium']">edit</a>
                  </td>
                </tr>
                <tr class="row-height">
                  <td>
                    <b style="color:green">Low Risk</b>
                  </td>
                  <td>
                    <b>{{auditReport.totalLowSeverityParas}}</b>
                  </td>
                  <td>
                    <a class="material-icons i-edit" matTooltip="Edit" *ngIf="auditReport.paraCreatedDate" (click)="assignAuditDetails()" [routerLink]="['../../audit-observation/audit-para-list/low']">edit</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
