/* You can add global styles to this file, and also import other style files */



 @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; 
 body { font-family: Roboto, Arial, sans-serif; margin: 0; }
  
.basic-container { padding: 5px;}
.version-info { font-size: 8pt;  float: right;  }

 

/*Header*/
.head-bg {  background: #021c4d;  padding: 20px 0;}
.logo { width: 50%;margin-top: 14px;padding: 0 16px; float:left;}
.logo img {  float: left;margin-right: 17px;}
.head-bg {  background: #021c4d;}
.logo h1 {  color: #fff;  font-size: 170%;  font-family: initial;  font-weight: 700;margin:auto;text-transform: uppercase;margin-top:5px;}
.logo span {color:#fff;font-size:132%; margin-top:6px;float:left;}
.emblem img{max-width: 50px; float: left;}


/*left nav*/
/* .mat-sidenav {  background: #021c4d;} */

.mat-sidenav {background-image: url('./assets/bgg.jpg');}
.mat-sidenav:before {content: ""; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #3d3f6f; opacity: 0.9; }


.mat-sidenav-container { height: 100vh; }
.sidenav-toolbar { height: 64px; display: flex; flex-direction: row; }
.sidebar { width: 260px; position: fixed;}
.main-panel { position: relative; float: right; width: calc(100% - 260px); -webkit-transition: all .5s cubic-bezier(.685,.0473,.346,1);  transition: all .5s cubic-bezier(.685,.0473,.346,1);
}
.app-nav-menu > li{float: left;}
.mat-list-base .mat-list-item{color:#fff;}
.mat-list-item-content .mat-icon  { margin-right: 12px; font-size: 23px;}
.mat-drawer-container, .mat-drawer { padding-top: 0px !important;}






/*Main Page(Dashboard)*/
.main-background{background-image: url('./assets/main-bg.jpg');height: 100vh;background-size: cover;}


/*Cards 28-11-18*/
.card { background: #fff;  border-radius: 6px;  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);margin-top: 30px; padding: 0 20px 20px 20px;}
.card .card-icon{ border-radius: 3px; background-color: #999; padding: 25px; margin-top: -20px;  margin-right: 15px; float: left; box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);}
.card .card-header-warning .card-icon{background: linear-gradient(60deg,#ffa726,#fb8c00);}
.card .card-header-success .card-icon{background: linear-gradient(60deg,#66bb6a,#43a047);}
.card .card-header-danger .card-icon{background: linear-gradient(60deg,#ef5350,#e53935);}
.card .card-header-info .card-icon{background: linear-gradient(60deg,#26c6da,#00acc1);}
.card .card-icon i{color: #fff}
.card-icon i{font-size:36px;}
.card p.card-category {text-align: right; font-size: 14px; color: #999;padding-top: 14px;}
.card h3{text-align: right;color: #999;margin: 0;}
.card-footer{border-top: 1px solid #eee;margin-top: 20px;}
.card-footer .stats{color: #999;font-size:12px; }
.card .card-footer .stats .material-icons { position: relative; top: 4px; font-size: 16px; padding-top: 10px;}

/*Chart*/
.graph-body {background:#fff; border:1px solid #ddd; border-radius: 6px; box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);padding: 10px;}
.mt-40{margin-top: 40px;}

