<div class="row" *ngIf="paraSettlementLetterDetails">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">{{selectedAudit.name}}</strong>
        <button class="btn btn-info pull-right" [disabled]="paraSettlementLetterDetails.auditParaSettlementLetterId == 0" (click)="forward(2)" *ngIf="roleId == 6 && (paraSettlementLetterDetails.statusId == 5 || paraSettlementLetterDetails.statusId == 1)">Forward to Audit Head</button>
        <button class="btn btn-secondary pull-right" (click)="RejectPopUp = true" *ngIf="roleId == 5 && paraSettlementLetterDetails.statusId == 2">Reject and Send back to DH</button>
        <button class="btn btn-info pull-right" (click)="forward(3)" *ngIf="roleId == 5 && paraSettlementLetterDetails.statusId == 2">Forward to Audit Supervisor</button>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="roleId == 6">
  <div class="col-md-6">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Update Para Settlement Letter Details</strong>
      </div>
      <div class="card-body card-block">
        <form [formGroup]="letterForm" (ngSubmit)="updateAuditParaSettlementLetter()">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="wid-100">
                <b>Letter Number: </b>
                <input matInput formControlName="letterNumber" maxlength="200" [disabled]="saveButtonDisabled" />
                <mat-error>Letter Number Required!</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="wid-100">
                <b>Letter Date: </b>
                <input matInput formControlName="letterDate" [matDatepicker]="picker9" (click)="picker9.open()" [disabled]="saveButtonDisabled" />
                <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                <mat-datepicker #picker9></mat-datepicker>
                <mat-error>Letter Date Required!</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <b>Letter To: </b>
              <div class="ckeditor-margin">
                <ckeditor [config]="{ removePlugins: [ 'Link', 'ImageUpload', 'MediaEmbed' ] }" [editor]="Editor" formControlName="letterTo" [disabled]="saveButtonDisabled"></ckeditor>
                <mat-error *ngIf="saveButtonClicked && letterForm.controls.letterTo.errors && letterForm.controls.letterTo.errors.required == true">Letter To Required!</mat-error>
              </div>
            </div>
            <div class="col-md-6">
              <b>Letter Subject: </b>
              <div class="ckeditor-margin">
                <ckeditor [config]="{ removePlugins: [ 'Link', 'ImageUpload', 'MediaEmbed' ] }" [editor]="Editor" formControlName="letterSubject" [disabled]="saveButtonDisabled"></ckeditor>
                <mat-error *ngIf="saveButtonClicked && letterForm.controls.letterSubject.errors && letterForm.controls.letterSubject.errors.required == true">Letter Subject Required!</mat-error>
              </div>
            </div>
          </div>

          <b>Letter Content: </b>
          <div class="ckeditor-margin">
            <ckeditor [config]="{ removePlugins: [ 'Link', 'ImageUpload', 'MediaEmbed' ] }" [editor]="Editor" formControlName="letterContent" [disabled]="saveButtonDisabled"></ckeditor>
            <mat-error *ngIf="saveButtonClicked && letterForm.controls.letterContent.errors && letterForm.controls.letterContent.errors.required == true">Letter Content Required!</mat-error>
          </div>
          <div class="row">
            <div class="col-md-6">
              <b>Letter From: </b>
              <div class="ckeditor-margin">
                <ckeditor [config]="{ removePlugins: [ 'Link', 'ImageUpload', 'MediaEmbed' ] }" [editor]="Editor" formControlName="letterFrom" [disabled]="saveButtonDisabled"></ckeditor>
                <mat-error *ngIf="saveButtonClicked && letterForm.controls.letterFrom.errors && letterForm.controls.letterFrom.errors.required == true">Letter From Required!</mat-error>
              </div>
            </div>
            <div class="col-md-6">
              <b>Letter Copy To: </b>
              <div class="ckeditor-margin">
                <ckeditor [config]="{ removePlugins: [ 'Link', 'ImageUpload', 'MediaEmbed' ] }" [editor]="Editor" formControlName="letterCopyTo" [disabled]="saveButtonDisabled"></ckeditor>
                <mat-error *ngIf="saveButtonClicked &&  letterForm.controls.letterCopyTo.errors && letterForm.controls.letterCopyTo.errors.required == true">Letter Copy To Required!</mat-error>
              </div>
            </div>
          </div>
          <button class="btn btn-info btn-width" type="submit" [disabled]="saveButtonDisabled">Save</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card left-brd-pink" *ngIf="paraSettlementLetterDetails">
      <div class="card-header pink">
        <strong class="card-title">Audit Para Settlement Letter Details:</strong>
        <a class="material-icons i-edit pull-right" matTooltip="Edit" (click)="editLetter()" *ngIf="paraSettlementLetterDetails.auditParaSettlementLetterId > 0" title="Edit">edit</a>
      </div>
      <div class="card-body card-block">
        <mat-card *ngIf="!saveButtonDisabled">
          <div class="row">
            <div class="col-md-9" style="word-wrap:break-word">
              <b>No. {{letterForm.controls.letterNumber.value}}</b>
            </div>
            <div class="col-md-3">
              <b>Dated: {{letterForm.controls.letterDate.value | date: 'dd/MM/yyyy'}}</b>
            </div>
          </div><br />
          <div class="row">
            <div class="col-md-3">
              <b>To,</b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4" style="word-wrap:break-word">
              <div innerHTML="{{letterForm.controls.letterTo.value}}"></div>
              <b></b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><b><u>Subject</u>: </b></div>
            <div class="col-md-10" style="word-wrap:break-word"><div innerHTML="{{letterForm.controls.letterSubject.value}}"></div></div>
          </div>
          <div class="row">
            <div class="col-md-12" style="word-wrap:break-word">
              <div innerHTML="{{letterForm.controls.letterContent.value}}"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4" style="word-wrap:break-word">
              <b>Yours Faithfully,</b><br />
              <div innerHTML="{{letterForm.controls.letterFrom.value}}"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><b><u>Copy To:-</u></b></div><br />
            <div class="col-md-10" style="word-wrap:break-word"><div innerHTML="{{letterForm.controls.letterCopyTo.value}}"></div></div>
          </div>
        </mat-card>
        <mat-card *ngIf="saveButtonDisabled">
          <div class="row">
            <div class="col-md-9" style="word-wrap:break-word">
              <b>No. {{paraSettlementLetterDetails.letterNumber}}</b>
            </div>
            <div class="col-md-3">
              <b>Dated: {{paraSettlementLetterDetails.letterDate | date: 'dd/MM/yyyy'}}</b>
            </div>
          </div><br />
          <div class="row">
            <div class="col-md-3">
              <b>To,</b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4" style="word-wrap:break-word">
              <div innerHTML="{{paraSettlementLetterDetails.letterTo}}"></div>
              <b></b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><b><u>Subject</u>: </b></div>
            <div class="col-md-10" style="word-wrap:break-word"><div innerHTML="{{paraSettlementLetterDetails.letterSubject}}"></div></div>
          </div>
          <div class="row">
            <div class="col-md-12" style="word-wrap:break-word">
              <div innerHTML="{{paraSettlementLetterDetails.letterContent}}"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4" style="word-wrap:break-word">
              <b>Yours Faithfully,</b><br />
              <div innerHTML="{{paraSettlementLetterDetails.letterFrom}}"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><b><u>Copy To:-</u></b></div><br />
            <div class="col-md-10" style="word-wrap:break-word"><div innerHTML="{{paraSettlementLetterDetails.letterCopyTo}}"></div></div>
          </div>
        </mat-card>
        <mat-card *ngIf="paraSettlementLetterDetails.rejectionRemark">
          <b>Rejection Remark: </b> <label>{{paraSettlementLetterDetails.rejectionRemark}}</label>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div *ngIf="roleId != 6">
  <div class="card left-brd-pink" *ngIf="paraSettlementLetterDetails.auditParaSettlementLetterId > 0">
    <div class="card-header pink">
      <strong class="card-title">Update Para Settlement Letter Details</strong>
    </div>
    <div class="card-body card-block">
      <mat-card>
        <div class="row">
          <div class="col-md-9" style="word-wrap:break-word">
            <b>No. {{paraSettlementLetterDetails.letterNumber}}</b>
          </div>
          <div class="col-md-3">
            <b>Dated: {{paraSettlementLetterDetails.letterDate | date: 'dd/MM/yyyy'}}</b>
          </div>
        </div><br />
        <div class="row">
          <div class="col-md-3">
            <b>To,</b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4" style="word-wrap:break-word">
            <div innerHTML="{{paraSettlementLetterDetails.letterTo}}"></div>
            <b></b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"><b><u>Subject</u>: </b></div>
          <div class="col-md-11" style="word-wrap:break-word"><div innerHTML="{{paraSettlementLetterDetails.letterSubject}}"></div></div>
        </div>
        <div class="row">
          <div class="col-md-12" style="word-wrap:break-word">
            <div innerHTML="{{paraSettlementLetterDetails.letterContent}}"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4" style="word-wrap:break-word">
            <b>Yours Faithfully,</b><br />
            <div innerHTML="{{paraSettlementLetterDetails.letterFrom}}"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"><b><u>Copy To:-</u></b></div><br />
          <div class="col-md-10" style="word-wrap:break-word"><div innerHTML="{{paraSettlementLetterDetails.letterCopyTo}}"></div></div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<app-dialog [(visible)]="RejectPopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Reject this Para Settlement Letter?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput placeholder="Rejection Remark" [(ngModel)]="rejectionRemark" maxlength="200"></textarea>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="forward(5)">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-warning" (click)="RejectPopUp = false">Cancel</button>
    </div>
  </div>
</app-dialog>
