<div class="row" *ngIf="details">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header">
        <button class="btn btn-secondary pull-right" *ngIf="details.auditeeStatusId == 13" (click)="RejectPopUp = true">Reject and Forward to Auditee DH</button>
        <button class="btn btn-info pull-right btn-width" *ngIf="details.auditeeStatusId == 13" (click)="updateAuditParaStatus(14)">Approve</button>
        <!--<button class="btn btn-success pull-right btn-width" (click)="updateAuditParaStatus(8)">Approve</button>-->
        <h2><u>{{selectedAudit.name}}</u></h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card left-brd-pink" *ngIf="details">
      <div class="card-header pink">
        <strong class="card-title">Details</strong>
      </div>
      <div class="card-body card-block">
        <div><strong>Para Title : </strong> <label>{{details.title}}</label></div>
        <div><strong>Criteria : </strong> <div class="conference-background-color" innerHTML="{{details.criteria}}"></div></div>
        <div><strong>Conditions : </strong> <div class="conference-background-color" innerHTML="{{details.conditions}}"></div></div>
        <div><strong>Consequences : </strong> <div class="conference-background-color" innerHTML="{{details.consequences}}"></div></div>
        <div><strong>Causes : </strong> <div class="conference-background-color" innerHTML="{{details.causes}}"></div></div>
        <div><strong>CorrectiveActions : </strong> <div class="conference-background-color" innerHTML="{{details.correctiveActions}}"></div></div>
        <div><strong>Severity : </strong> <label>{{details.severity}}</label></div>
        <div><strong>Risk Category : </strong> <label>{{details.riskCategoryDesc}}</label></div>
        <div><strong>Attach : </strong> <div *ngFor="let file of details.files"><a>{{file.fileName}}</a> <br /></div></div>
        <mat-card *ngIf="details.rejectionRemark">
          <b>Rejection Remark: </b> <label>{{details.rejectionRemark}}</label>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card left-brd-pink" *ngIf="details">
      <div class="card-header pink">
        <strong class="card-title">Para Observation Notes</strong>
      </div>
      <div class="card-body card-block">
        <mat-card>
          <div style="height:400px;overflow-y:auto;word-wrap:break-word" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div *ngFor="let cmt of commentsList">
              <div class="row" *ngIf="cmt.roleId == 8" style="margin:5px">
                <div style="background-color: beige;border-radius:15px" class="col-md-10">
                  <label>{{cmt.empName}}</label><br />
                  <strong>{{cmt.comment}}</strong>
                  <div><a *ngFor="let file of cmt.files">{{file.fileName}}</a></div>
                  <label class="pull-right">{{cmt.createdOn | date: 'dd/MM/yyyy hh:mm a'}}</label>
                </div>
              </div>
              <div class="row" *ngIf="cmt.roleId == 6" style="margin:5px">
                <div class="col-md-2"></div>
                <div class="col-md-10 pull-right" style="background-color: lightblue;border-radius:15px">
                  <label>{{cmt.empName}}</label><br />
                  <strong>{{cmt.comment}}</strong>
                  <div><a *ngFor="let file of cmt.files">{{file.fileName}}<br /></a></div>
                  <label class="pull-right">{{cmt.createdOn | date: 'dd/MM/yyyy hh:mm a'}}</label>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>


<app-dialog [(visible)]="RejectPopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Reject this Compliance?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput placeholder="Rejection Remark" [(ngModel)]="rejectionRemark" maxlength="200"></textarea>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateAuditParaStatus(15)">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="RejectPopUp = false">Cancel</button>
    </div>
  </div>
</app-dialog>
