<div class="row">
  <div class="col-md-12 col-lg-12">
    <!--<h2><u>{{selectedAudit.name}}</u></h2>-->
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">{{selectedAudit.name}}</strong>
      </div>
      <div class="row" *ngIf="roleId == 6">
        <div class="col-md-6">
          <mat-card>
            <form [formGroup]="exitConferenceForm" (ngSubmit)="onSubmit()">
              <mat-form-field class="wid-100">
                <b>Exit Conference Date: </b>
                <input matInput formControlName="conferenceDate" [matDatepicker]="picker7" (click)="picker7.open()" [disabled]="saveButtonDisabled" />
                <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                <mat-datepicker #picker7></mat-datepicker>
                <mat-error>Conference Date Required!</mat-error>
              </mat-form-field>
              <b>Topic of Discussion: </b>
              <div class="ckeditor-margin">
                <ckeditor class="ckeditor-margin" [editor]="Editor" formControlName="agenda" [disabled]="saveButtonDisabled"></ckeditor>
                <mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.agenda.errors && exitConferenceForm.controls.agenda.errors.required == true">Topic of Discussion Required!</mat-error>
              </div>
              <!--<mat-form-field class="wid-100">
                <textarea matInput placeholder="Topic of Discussion" formControlName="agenda"></textarea>
                <mat-error>Topic of Discussion Required!</mat-error>
              </mat-form-field>-->
              <b>Decision: </b>
              <div class="ckeditor-margin">
                <ckeditor [editor]="Editor" formControlName="decision" [disabled]="saveButtonDisabled"></ckeditor>
                <mat-error *ngIf="saveButtonClicked && exitConferenceForm.controls.decision.errors && exitConferenceForm.controls.decision.errors.required == true">Decision Required!</mat-error>
              </div>
              <!--<mat-form-field class="wid-100">
                <textarea matInput placeholder="Topic of Discussion" formControlName="agenda"></textarea>
                <mat-error>Topic of Discussion Required!</mat-error>
              </mat-form-field>-->
              <mat-form-field class="wid-100">
                <b>Select Attendees: </b>
                <mat-select multiple matInput [(ngModel)]="selectedAuditTeam" [ngModelOptions]="{standalone: true}" [disabled]="saveButtonDisabled">
                  <mat-option *ngFor="let emp of auditTeam" [value]="emp">{{emp.empName}} ({{emp.designationName}})</mat-option>
                </mat-select>
              </mat-form-field>
              <button class="btn btn-info btn-width" type="submit" [disabled]="saveButtonDisabled">Save</button>
            </form>
          </mat-card>
        </div>
        <div class="col-md-6">
          <mat-card *ngIf="exitConferenceDetails">
            <b>Exit Conference Details: </b>
            <a class="material-icons i-edit pull-right" matTooltip="Edit" (click)="editExitConference()" *ngIf="exitConferenceDetails" title="Edit">edit</a>
            <mat-card class="mat-card-margin">
              <b>Exit Conference Date: </b> <div>{{exitConferenceDetails.conferenceDate | date: 'dd/MM/yyyy'}}</div> <br />
              <b>Attendees: </b> <br />
              <div class="row team-background-color">
                <div class="col-md-6">
                  <b>Auditor Team: </b>
                  <div *ngFor="let emp of exitConferenceDetails.participants"><label *ngIf="emp.roleId == 7 || emp.roleId == 8">{{emp.empName}} ({{emp.designationName}})</label> <br /> </div>
                </div>
                <div class="col-md-6">
                  <b>Auditee Team: </b>
                  <div *ngFor="let emp of exitConferenceDetails.participants"><label *ngIf="emp.roleId == 7 || emp.roleId == 8">{{emp.empName}} ({{emp.designationName}})</label> <br /> </div>
                </div>
              </div>

              <b>Topic of Discussion: </b><div class="conference-background-color" innerHTML="{{exitConferenceDetails.agenda}}"></div>
              <b>Decision: </b><div class="conference-background-color" innerHTML="{{exitConferenceDetails.decision}}"></div>
            </mat-card>

          </mat-card>
        </div>
      </div>
      <div *ngIf="roleId != 6">
        <mat-card *ngIf="exitConferenceDetails">
          <b>Exit Conference Details: </b>
          <mat-card class="mat-card-margin">
            <b>Exit Conference Date: </b> <div>{{exitConferenceDetails.conferenceDate | date: 'dd/MM/yyyy'}}</div> <br />
            <b>Attendees: </b> <br />
            <div class="row team-background-color">
              <div class="col-md-6">
                <b>Auditor Team: </b>
                <div *ngFor="let emp of exitConferenceDetails.participants"><label *ngIf="emp.roleId == 7 || emp.roleId == 8">{{emp.empName}} ({{emp.designationName}})</label> <br /> </div>
              </div>
              <div class="col-md-6">
                <b>Auditee Team: </b>
                <div *ngFor="let emp of exitConferenceDetails.participants"><label *ngIf="emp.roleId == 7 || emp.roleId == 8">{{emp.empName}} ({{emp.designationName}})</label> <br /> </div>
              </div>
            </div>

            <b>Topic of Discussion: </b><div class="conference-background-color" innerHTML="{{exitConferenceDetails.agenda}}"></div>
            <b>Decision: </b><div class="conference-background-color" innerHTML="{{exitConferenceDetails.decision}}"></div>
          </mat-card>

        </mat-card>
      </div>
    </div>
  </div>
</div>
