<div class="row">
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div style="text-align: center;">
        <mat-form-field class="select-width">
          <mat-select matInput placeholder="Select PAO" [(ngModel)]="selectedAuditId" [ngModelOptions]="{standalone: true}" (selectionChange)="getDeskAuditFiles()">
            <mat-option *ngFor="let audit of auditList" [value]="audit.auditId">{{audit.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="card-header" *ngIf="selectedAuditId">
        <form class="form-horizontal form-bordered striped-rows" (ngSubmit)="frmDetails.valid && SaveAndUpdate();" #frmDetails="ngForm" novalidate>
          <!--<div class="col-md-12 row">
        <div class="col-md-4">
          <div class="enter-name">
            <mat-form-field class="wid-100 mt-1">

              <input matInput placeholder="Enter Name Of Documents" required [(ngModel)]="objDetails.nameofDocument" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" autocomplete="off" >
              <mat-error>
                <span *ngIf="nameofDocument.invalid">Special character are not allowed</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3" style="margin-top:40px">
          <input type="file" (change)="filesToBeUploaded($event.target.files)" accept=".pdf,.jpeg" id="evidence" style="display:none" multiple />
          <label for="evidence" class="btn btn-info">Choose Files</label>
        </div>
        <div class="col-md-3">
          <div *ngFor="let file of uploadFiles"><a>{{file.name}}</a> <br /></div>
        </div>

      </div>-->


          <div class="container" style="margin-top: 5%">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Action</th>
                  <th>Name Of Documents</th>
                  <th>Upload Documents</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                  <td (click)="deleteRow(i)">
                    <i class="fa fa-trash fa-2x"></i>
                  </td>
                  <td>

                    <input [(ngModel)]="dynamicArray[i].nameofDocument" required [ngModelOptions]="{standalone: true}" name="{{dynamicArray[i].nameofDocument}}" class="form-control" type="text" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" #nameofDocument="ngModel" />
                    <mat-error>

                      <span id="id_{{i}}"></span>
                    </mat-error>
                  </td>
                  <td>
                    <input type="file" [(ngModel)]="dynamicArray[i].uploadedPath" required [ngModelOptions]="{standalone: true}" name="{{dynamicArray[i].uploadedPath}}" (change)="filesToBeUploaded($event.target.files,i)" accept=".pdf,.jpeg" id="{{i}}" style="display:none" multiple />
                    <label for="{{i}}" class="btn btn-info">Choose Files</label>

                    <!--<label for="{{i}}" *ngFor="let file of uploadFiles">  <a> {{file.name }} </a> <br /></label>-->
                    <label id="fileslist_{{i}}"></label>

                    <mat-error>

                      <span id="idfiles_{{i}}"></span>
                    </mat-error>
                  </td>

                </tr>
                <tr>
                  <td (click)="addRow()">
                    <i class="fa fa-plus fa-2x"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-group text-center col-md-12 mt-4">
            <button type="submit" class="btn btn-info" [disabled]="!frmDetails.valid">{{btnUpdatetext}}</button>
            &nbsp;
            <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--<div *ngFor="let cmt of objDetails">
    <div class="row"  style="margin:5px">
      <div style="background-color: beige;border-radius:15px" class="col-md-10">
        <label>{{cmt.documentName}}</label><br />
        
      <div *ngFor="let file of cmt.children">{{file.fileName}} <a *ngIf="file.fileName!=null" class="material-icons">vertical_align_bottom<br /></a></div>


      </div>
    </div>
    
  </div>-->
  <div class="col-md-12">
    <div class="card left-brd-pink">
      <div class="card-header pink">
        <strong class="card-title">Document List</strong>
      </div>
      <div class="card-body card-block" *ngIf="objDetails && objDetails.length > 0">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchTerm" placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>
        <mat-table [dataSource]="objDetails" matSort class="mat-elevation-z8 even-odd-color">
          <ng-container matColumnDef="documentName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Document Name </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.documentName }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="DocumentList">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Document List </mat-header-cell>
            <mat-cell *matCellDef="let element ; let i = index;">
              <p *ngFor="let file of element.children">{{file.fileName}} <a  *ngIf="element.isActive!=false"  (click)="DownloadFile(file.relativePath)" class="material-icons">vertical_align_bottom<br /></a></p>
              <!--{{element.parentCategoryName }}-->
            </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <!--<a class="material-icons i-edit" matTooltip="Edit" *ngIf="element.isActive" (click)="UpdateFillForm(element.riskCategoryID,element.riskCategoryName,element.riskCategoryDesc,element.parentRiskCategoryID);onEdit();">edit</a>-->
              <mat-slide-toggle [checked]="element.isActive" (change)="ActiveDeactiveFillPopUp(element.documentName,element.isActive);ActivateCategory=!ActivateCategory" matTooltip="Activate/deactivate" color="primary"></mat-slide-toggle>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <!--<div [hidden]="notFound">
          <font color="red">Data Not Found...</font>
        </div>-->
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>

<app-dialog [(visible)]="ActivateCategory">
  <form (ngSubmit)="ActiveDeactiveUsercategory();">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">{{ActiveDactiveHeaderText}}</h3>
      <div class="form-group text-center col-md-12">
        <button type="submit" class="btn btn-info">Yes</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="CancelPopUp();">Cancel</button>
      </div>
    </div>
  </form>
</app-dialog>
